.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.ant-table-content{
  overflow: scroll !important;
  // height: calc(100vh - 206px) !important;
  height: calc(100vh - 95px) !important;
  // height: 100%;
}
.p-m{
  margin-top: 12px;
}

.btn-excel{
  background-color: #008B45;
  border-color: #008B45;
}
._ngcontent-ng-c3840563359{
overflow-y: auto !important;
  height: calc(100vh - 206px) !important;
}
.input-v{
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  text-align: right;
}
