<div class="bg-order" [ngClass]="isFullscreen ? 'zoom' : ''">
  <div class="order-header">
    <div class="app-header flex justify-between items-center">
      <div class="header-trigger flex items-center gap-[24px]">
        <img src="assets/img/plx-order.png" class="logo-plx">
      </div>
      <div class="header-trigger flex items-center gap-[24px]">
        <div class="text-notif">
          {{title}}
        </div>
      </div>
      <div class="header-trigger flex items-center gap-[24px]">
        <span nz-icon nzType="fullscreen" nzTheme="outline" class="is-fullscreen" (click)="toggleFullscreen(true)"
          *ngIf="!isFullscreen"></span>
        <span nz-icon nzType="fullscreen-exit" nzTheme="outline" class="is-fullscreen" (click)="toggleFullscreen(false)"
          *ngIf="isFullscreen"></span>
      </div>
    </div>
  </div>
  <div class="order-main">
    <table>
      <thead>
        <tr>
          <th style="width: 10%;">STT</th>
          <th style="width: 25%;">Tài xế</th>
          <th style="width: 15%;">Biển số xe</th>
          <th>Ghi chú</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of lstOrder">
          <td *ngIf="!order.isVoice">{{formatNumber(order.stt)}}</td>
          <td *ngIf="!order.isVoice">{{order.vehicleName}}</td>
          <td *ngIf="!order.isVoice">{{order.vehicleCode}}</td>
          <td *ngIf="!order.isVoice">{{order.noteIn}}</td>

          <td *ngIf="order.isVoice" class="blink">{{formatNumber(order.stt)}}</td>
          <td *ngIf="order.isVoice" class="blink">{{order.vehicleName}}</td>
          <td *ngIf="order.isVoice" class="blink">{{order.vehicleCode}}</td>
          <td *ngIf="order.isVoice" class="blink">{{order.noteIn}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
