

  .file-name {
    color: rgba(0, 0, 0, 0.85); // Màu chữ mặc định của Ant Design
    font-size: 14px;
  }
  
  nz-list-item {
    display: flex;
    align-items: center;
  }
  
  [nz-icon] {
    font-size: 16px;
  }
  .tab-content-scrollable {
    max-height: calc(100vh - 150px); // Điều chỉnh giá trị này nếu cần
    overflow-y: auto;
    padding: 10px;
  }