<div class="container-list">
  <div class="site-page-header-ghost-wrapper">
    <nz-tabset nzSize="large">
      <nz-tab nzTitle="THÔNG TIN">
        <div class="tab-content-scrollable">
          <nz-page-header nzBackIcon nzTitle="Quay lại" class="site-page-header"><nz-page-header-extra>
              <nz-space [nzWrap]="true" class="gap-[5px]">
                <ng-container *ngIf="status === 'Khởi tạo'">
                  <button *nzSpaceItem nz-button nzType="default" class="!flex !items-center"
                    (click)="showAuditModal('02')" [appPermission]="LIST_AUDIT_RIGHTS.TRINH_DUYET">
                    <span nz-icon nzType="send" nzTheme="outline"></span>Trình
                    duyệt
                  </button>
                </ng-container>
                <ng-container *ngIf="this.approver === this.userName && this.status == 'Chờ xác nhận'">
                  <button *nzSpaceItem nz-button nzType="default" class="!flex !items-center"
                    (click)="showAuditModal('03')" [appPermission]="LIST_AUDIT_RIGHTS.PHE_DUYET">
                    <span nz-icon nzType="check" nzTheme="outline"></span>Phê
                    duyệt
                  </button>
                  <button *nzSpaceItem nz-button nzType="default" class="!flex !items-center"
                    (click)="showAuditModal('04')" [appPermission]="LIST_AUDIT_RIGHTS.TU_CHOI">
                    <span nz-icon nzType="close" nzTheme="outline"></span>Từ chối
                  </button>
                  <button *nzSpaceItem nz-button nzType="default" class="!flex !items-center"
                    (click)="showAuditModal('01')" [appPermission]="LIST_AUDIT_RIGHTS.YEU_CAU_CHINH_SUA">
                    <span nz-icon nzType="exclamation-circle" nzTheme="outline"></span>Yêu cầu chỉnh sửa
                  </button>
                </ng-container>

                <ng-container *ngIf="status === 'Chờ xác nhận'">
                  <button *nzSpaceItem nz-button nzType="default" class="!flex !items-center"
                    (click)="showAuditModal('01')" [appPermission]="LIST_AUDIT_RIGHTS.HUY_TRINH_DUYET">
                    <span nz-icon nzType="close" nzTheme="outline"></span>Hủy
                    trình duyệt
                  </button>
                </ng-container>

                <ng-container *ngIf="this.approver === this.userName">
                  <button *nzSpaceItem nz-button nzType="default" class="!flex !items-center"
                    (click)="showAuditModal('01')" [appPermission]="LIST_AUDIT_RIGHTS.HUY_PHE_DUYET">
                    <span nz-icon nzType="close" nzTheme="outline"></span>Hủy phê
                    duyệt
                  </button>
                </ng-container>

                <ng-container *ngIf="status === 'Từ chối'">
                  <button *nzSpaceItem nz-button nzType="default" class="!flex !items-center">
                    <span style="color: red" nz-icon nzType="close-circle" nzTheme="outline"></span>Bị từ chối
                  </button>
                </ng-container>

                <button [appPermission]="LIST_AUDIT_RIGHTS.EDIT" *nzSpaceItem nz-button nzType="primary"
                  class="!flex !items-center" (click)="submitFormUpdate()">
                  <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
                </button>
              </nz-space>
            </nz-page-header-extra>"edit ? ' Chỉnh sửa ' : ' Tạo mới '"
          </nz-page-header>
          <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="24">
              <div class="inner-box">
                <form nz-row nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitFormUpdate()">
                  <div nz-col nzSpan="16" style="
                    border: solid 1px #eeeeee;
                    margin-bottom: 24px;
                    padding: 12px;
                  ">
                    <h4>
                      <span nz-icon nzType="info-circle" nzTheme="outline" style="margin-right: 12px"></span>THÔNG TIN
                      ĐỢT
                      KIỂM TOÁN
                    </h4>

                    <div nz-row>
                      <div nz-col nzSpan="24">
                        <div nz-row>
                          <div nz-col nzSpan="7" style="margin-right: 5px">
                            <app-input-clear placeholder="Nhập mã đợt kiểm toán" [required]="true"
                              label="Mã đợt kiểm toán" [control]="$any(validateForm).controls['code']" [required]="true"
                              [disabled]="true"></app-input-clear>

                            <nz-form-item>
                              <nz-form-label [nzRequired]="true">Ngày báo cáo</nz-form-label>
                              <nz-form-control nzErrorTip="Vui lòng chọn ngày báo cáo">
                                <nz-date-picker style="width: 100%" formControlName="reportDate"
                                  nzPlaceHolder="Chọn ngày báo cáo"></nz-date-picker>
                              </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                              <nz-form-label>Đợt kiểm toán</nz-form-label>
                              <nz-form-control nzErrorTip="Không được để trống">
                                <nz-select nzWidth="100%" nzShowSearch nzAllowClear placeholder="Chọn đợt kiểm toán"
                                  formControlName="auditPeriod">
                                  <nz-option cdkScrollable *ngFor="let item of listAudit" [nzLabel]="item.auditPeriod"
                                    [nzValue]="item.auditPeriod">
                                  </nz-option>
                                </nz-select>
                              </nz-form-control>
                            </nz-form-item>
                          </div>

                          <div nz-col nzSpan="7" style="margin-left: 5px">
                            <app-input-clear placeholder="Nhập tên đợt kiểm toán" [required]="true"
                              label="Tên đợt kiểm toán" [control]="$any(validateForm).controls['name']"
                              [disabled]="status === 'Đã phê duyệt'"></app-input-clear>

                            <app-input-clear placeholder="Số báo cáo" [required]="true" label="Số báo cáo" [control]="
                              $any(validateForm).controls['reportNumber']
                            " [disabled]="status === 'Đã phê duyệt'"></app-input-clear>

                            <app-input-clear placeholder="Trạng thái" [disabled]="true" [required]="true"
                              label="Trạng thái" [control]="$any(validateForm).controls['status']"></app-input-clear>
                          </div>
                          <div nz-col nzSpan="9" style="margin-left: 15px">
                            <div nz-row>
                              <div nz-col nzSpan="22">
                                <nz-form-item>
                                  <nz-form-label>Năm kiểm toán</nz-form-label>
                                  <nz-form-control nzErrorTip="Không được để trống">
                                    <nz-select nzWidth="100%" nzShowSearch nzAllowClear placeholder="Chọn năm kiểm toán"
                                      formControlName="timeYear">
                                      <nz-option cdkScrollable *ngFor="let item of listTimeYear"
                                        [nzLabel]="item.timeyear" [nzValue]="item.timeyear">
                                      </nz-option>
                                    </nz-select>
                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                              <div nz-col nzSpan="11" style="margin-right: 12px">
                                <nz-form-item>
                                  <nz-form-label [nzRequired]="true">Từ ngày</nz-form-label>
                                  <nz-form-control nzErrorTip="Vui lòng chọn ngày bắt đầu">
                                    <nz-date-picker style="width: 100%" formControlName="startDate"
                                      nzPlaceHolder="Chọn ngày bắt đầu"></nz-date-picker>
                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                              <div nz-col nzSpan="11" style="margin-left: 12px">
                                <nz-form-item>
                                  <nz-form-label [nzRequired]="true">Đến ngày</nz-form-label>
                                  <nz-form-control nzErrorTip="Vui lòng chọn ngày kết thúc">
                                    <nz-date-picker style="width: 100%" formControlName="endDate"
                                      nzPlaceHolder="Chọn ngày kết thúc"></nz-date-picker>
                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                              <div nz-col nzSpan="22" style="margin: 0 12px;">
                                <nz-form-item>
                                  <nz-form-label>Chọn người phê duyệt</nz-form-label>
                                  <nz-form-control nzErrorTip="Không được để trống">
                                    <nz-select nzWidth="100%" nzShowSearch nzAllowClear
                                      placeholder="Chọn người phê duyệt" formControlName="approver">
                                      <nz-option cdkScrollable *ngFor="let item of users" [nzLabel]="item.userName"
                                        [nzValue]="item.userName">
                                      </nz-option>
                                    </nz-select>
                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                            </div>
                          </div>

                          <div nz-col nzSpan="22">
                            <app-input-clear [textArea]="true" class="full-width" placeholder="Mô tả" label="Mô tả"
                              [control]="$any(validateForm).controls['note']"
                              [disabled]="status === 'Đã phê duyệt'"></app-input-clear>
                            <nz-form-item>
                              <nz-form-label>Chọn cây kiến nghị</nz-form-label>
                              <nz-form-control nzErrorTip="Không được để trống">
                                <nz-select nzWidth="100%" nzShowSearch nzAllowClear placeholder="Chọn cây kiến nghị"
                                  formControlName="opinionCode">
                                  <nz-option cdkScrollable *ngFor="let item of opinionList"
                                    [nzLabel]="item.code +' - ' + item.name" [nzValue]="item.code">
                                  </nz-option>
                                </nz-select>
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                          <!-- <div nz-col nzSpan="22" [appPermission]="LIST_AUDIT_RIGHTS.EDIT">
                          <nz-form-item>
                            <nz-form-label>Trạng thái</nz-form-label>
                            <nz-form-control>
                              <nz-radio-group formControlName="isActive">
                                <label nz-radio [nzValue]="true">Kích hoạt</label>
                                <label nz-radio [nzValue]="false">Khoá</label>
                              </nz-radio-group>
                            </nz-form-control>
                          </nz-form-item>
                        </div> -->
                        </div>
                      </div>
                    </div>
                    <!-- Thông tin đợt kiểm toán -->
                  </div>
                  <div nz-col nzSpan="7">
                    <div nz-row>
                      <div nz-col nzSpan="24" style="
                        border: solid 1px #eeeeee;
                        margin-bottom: 24px;
                        padding: 12px;
                        margin-left: 15px;
                      ">
                        <h4>
                          <span nz-icon nzType="info-circle" nzTheme="outline" style="margin-right: 12px"></span>NHÂN SỰ
                        </h4>
                        <div nz-row>
                          <div nz-col nzSpan="12" style="padding-right: 6px; margin-bottom: 12px">
                            <label>Phòng Ban</label>
                            <input nz-input [placeholder]="orgName" [disabled]="true" />
                          </div>
                          <div nz-col nzSpan="12" style="padding-right: 6px; margin-bottom: 12px">
                            <label>Người Tạo</label>
                            <input nz-input [placeholder]="createBy" [disabled]="true" />
                          </div>
                        </div>
                      </div>

                      <div nz-col nzSpan="23" style="
                        border: solid 1px #eeeeee;
                        margin-bottom: 24px;
                        padding: 12px;
                        margin-left: 15px;
                      ">
                        <h4>
                          <span nz-icon nzType="info-circle" nzTheme="outline" style="margin-right: 12px"></span>FILE
                          ĐÍNH
                          KÈM
                        </h4>
                        <nz-form-item>
                          <nz-form-control>
                            <nz-upload nzType="drag" [nzMultiple]="true">
                              <p class="ant-upload-drag-icon">
                                <span nz-icon nzType="inbox"></span>
                              </p>
                              <p class="ant-upload-text">Thêm file đính kèm</p>
                            </nz-upload>
                          </nz-form-control>
                        </nz-form-item>

                        <nz-form-item *ngIf="attachments.length > 0">
                          <nz-form-label>Danh sách file đính kèm</nz-form-label>
                          <nz-form-control>
                            <nz-list [nzDataSource]="attachments" nzBordered nzSize="small">
                              <nz-list-item *ngFor="let file of attachments">
                                <span nz-icon nzType="file" nzTheme="outline"></span>
                                <span style="color: #52c41a; margin-right: 8px" class="file-name">{{ file.name }}</span>
                                <ul nz-list-item-actions>
                                  <nz-list-item-action>
                                    <a (click)="downloadFile(file)">Tải xuống</a>
                                  </nz-list-item-action>
                                  <nz-list-item-action>
                                    <a nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn muốn xóa file này?"
                                      (nzOnConfirm)="deleteFile(file)">Xóa</a>
                                  </nz-list-item-action>
                                </ul>
                              </nz-list-item>
                            </nz-list>
                          </nz-form-control>
                        </nz-form-item>
                      </div>

                      <div *ngIf="listAuditHistory.length > 0" nz-col nzSpan="24" style="
                        border: solid 1px #eeeeee;
                        padding: 12px;
                        margin-left: 15px;
                        max-height: 200px;
                        overflow-y: auto;
                      ">
                        <h4>
                          <span nz-icon nzType="history" nzTheme="outline" style="margin-right: 12px"></span>LỊCH SỬ
                          THỰC
                          HIỆN
                        </h4>

                        <nz-table #borderedTable nzBordered>
                          <thead>
                            <tr>
                              <th>Người thực hiện</th>
                              <th>Hành động</th>
                              <th>Nội dung</th>
                              <th>Thời gian</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let row of listAuditHistory">
                              <td>{{ row.createBy }}</td>
                              <td>{{ row.action }}</td>
                              <td>{{ row.textContent }}</td>
                              <td>
                                {{ row.createDate | date: 'dd/MM/yyyy hh:mm:ss' }}
                              </td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="DANH SÁCH KIẾN NGHỊ">
        <div class="tab-content-scrollable">
          <nz-page-header nzBackIcon nzTitle="DANH SÁCH KIẾN NGHỊ" class="site-page-header">
            <nz-page-header-extra>
              <nz-space [nzWrap]="true" class="gap-[5px]">
                <nz-space class="gap-[5px]"> </nz-space>
              </nz-space>
            </nz-page-header-extra>
          </nz-page-header>

          <!-- -- -->
          <div nz-row>
            <!-- Cây cấu trúc đơn vị  -->
            <div nz-col nzSpan="8">
              <nz-input-group [nzSuffix]="suffixIcon" style="margin: 0 0 6px 12px">
                <input type="text" nz-input placeholder="Tìm kiếm phòng ban, đơn vị" [(ngModel)]="searchValueOrg" />
              </nz-input-group>
              <nz-tree class="!pl-[10px] overflow-auto" [nzData]="nodeOrg" [nzSearchValue]="searchValueOrg"
                [nzTreeTemplate]="nzTreeTemplateOrg" [nzExpandedIcon]="multiExpandedIconTpl">
                <ng-template #nzTreeTemplateOrg let-node>
                  <div class="!flex justify-between pr-8 note_title">
                    <div class="flex-1" (click)="onClickNodeOrg(node)">
                      {{ node.title }}
                    </div>
                  </div>
                </ng-template>
                <ng-template #multiExpandedIconTpl let-node let-origin="origin">
                  <span *ngIf="node.children.length > 0" nz-icon
                    [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'" nzTheme="outline"
                    class="ant-tree-switcher-line-icon icon-tree"></span>
                </ng-template>
              </nz-tree>
            </div>
            <!-- Cây kiến nghị -->
            <div nz-col nzSpan="15" style="margin-left: 12px">
              <nz-input-group [nzSuffix]="suffixIcon" style="margin: 0 0 6px 12px">
                <input type="text" nz-input placeholder="Tìm kiếm kiến nghị" [(ngModel)]="searchValueOpinion" />
              </nz-input-group>

              <nz-tree class="!pl-[10px] overflow-auto" [nzData]="nodeOpinion" nzCheckable
                (nzCheckBoxChange)="nzCheck($event)" (nzExpandChange)="nzCheck($event)"
                [nzSearchValue]="searchValueOpinion" [nzTreeTemplate]="nzTreeTemplateOpinion"
                [nzExpandedIcon]="multiExpandedIconTpl">
                <ng-template #nzTreeTemplateOpinion let-node>
                  <div class="!flex justify-between pr-8 note_title">
                    <div class="flex-1" (click)="onClickNodeOpinion(node)">
                      {{ node.title }}
                    </div>
                  </div>
                </ng-template>
                <ng-template #multiExpandedIconTpl let-node let-origin="origin">
                  <span *ngIf="node.children.length > 0" nz-icon
                    [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'" nzTheme="outline"
                    class="ant-tree-switcher-line-icon icon-tree"></span>
                </ng-template>
              </nz-tree>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="DANH SÁCH BẢNG BIỂU">
        <app-audit-period-list-tables [listAuditStatus]="status" [lstAuditCode]="lstAuditCode">
        </app-audit-period-list-tables>
      </nz-tab>
    </nz-tabset>
  </div>
</div>

<ng-template #extra>
  <nz-space>
    <button *ngIf="this.opinionDetail.status == '01'" style="margin-right: 15px" [nzLoading]="loading" nz-button
      nzType="default" class="!flex !items-center" (click)="showModal('02')"
      [appPermission]="LIST_AUDIT_OPINION_RIGHTS.TRINH_DUYET">
      <span nz-icon nzType="send" nzTheme="outline"></span> Trình duyệt
    </button>
    <button *ngIf="this.opinionDetail.status == '02'" style="margin-right: 15px" [nzLoading]="loading" nz-button
      nzType="default" class="!flex !items-center" (click)="showModal('03')"
      [appPermission]="LIST_AUDIT_OPINION_RIGHTS.PHE_DUYET">
      <span nz-icon nzType="check"></span> Phê duyệt
    </button>
    <button *ngIf="this.opinionDetail.status == '03'" style="margin-right: 15px" [nzLoading]="loading" nz-button
      nzType="default" class="!flex !items-center" (click)="showModal('06')"
      [appPermission]="LIST_AUDIT_OPINION_RIGHTS.HUY_PHE_DUYET">
      <span nz-icon nzType="check"></span> Chưa hoàn thành
    </button>
    <button *ngIf="this.opinionDetail.status == '03'" style="margin-right: 15px" [nzLoading]="loading" nz-button
      nzType="default" class="!flex !items-center" (click)="showModal('05')"
      [appPermission]="LIST_AUDIT_OPINION_RIGHTS.HUY_PHE_DUYET">
      <span nz-icon nzType="check"></span>Đã Hoàn Thành
    </button>
    <!-- <button
      *ngIf="this.opinionDetail.status == '02'"
      style="margin-right: 15px"
      [nzLoading]="loading"
      nz-button
      nzType="default"
      class="!flex !items-center"
      [appPermission]="LIST_AUDIT_OPINION_RIGHTS.TRINH_DUYET"
    >
     (click)="showModal('03')" -->
    <!-- [appPermission]="LIST_AUDIT_RIGHTS.TU_CHOI" 
      <span nz-icon nzType="check"></span>Chờ xác nhận
    </button> -->
    <button *ngIf="this.opinionDetail.status == '02'" style="margin-right: 15px" [nzLoading]="loading" nz-button
      nzType="default" class="!flex !items-center" (click)="showModal('01')"
      [appPermission]="LIST_AUDIT_RIGHTS.YEU_CAU_CHINH_SUA">
      <!-- (click)="showModal('03')" -->
      <!-- [appPermission]="LIST_AUDIT_RIGHTS.TU_CHOI" -->
      <span nz-icon nzType="exclamation-circle" nzTheme="outline"></span>Yêu cầu chỉnh sửa
    </button>
    <!-- <button *ngIf="this.opinionDetail.status == '02'" style="margin-right: 15px" [nzLoading]="loading" nz-button
      nzType="default" class="!flex !items-center" (click)="showModal('04')"
      [appPermission]="LIST_AUDIT_OPINION_RIGHTS.TU_CHOI">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span> Từ chối
    </button> -->
    <button *ngIf="this.opinionDetail.status == '04'" style="margin-right: 15px" [nzLoading]="loading" nz-button
      nzType="default" class="!flex !items-center" (click)="showModal('04')">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span> Bị từ chối
    </button>
    <button style="margin-right: 15px" [nzLoading]="loading" nz-button nzType="primary" class="!flex !items-center"
      (click)="changeStatusOpinion('-')">
      <span nz-icon nzType="save" nzTheme="outline"></span> Lưu thông tin
    </button>
    <button *nzSpaceItem nz-button nzType="default" class="!flex !items-center" (click)="closeEditOpinion()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span> Đóng
    </button>
  </nz-space>
</ng-template>

<nz-drawer [nzWidth]="'82%'" [nzVisible]="visibleEditOpinion" nzPlacement="right" [nzTitle]="'THÔNG TIN KIẾN NGHỊ'"
  [nzExtra]="extra" (nzOnClose)="closeEditOpinion()">
  <ng-container *nzDrawerContent>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" [nzSpan]="14">
        <div class="inner-box">
          <div nz-row>
            <div nz-col nzSpan="24" style="
                border: solid 1px #eeeeee;
                margin-bottom: 24px;
                padding: 12px;
              ">
              <h4>
                <span nz-icon nzType="info-circle" nzTheme="outline" style="margin-right: 12px"></span>THÔNG TIN Ý KIẾN
                KIỂM TOÁN
              </h4>
              <div nz-row>
                <div nz-col nzSpan="12" style="padding-right: 6px; margin-bottom: 12px">
                  <label>Mã ý kiến</label>
                  <input nz-input placeholder="Mã ý kiến" [(ngModel)]="opinionDetail.opinionCode" [disabled]="true" />
                </div>
                <div nz-col nzSpan="12" style="padding-left: 6px; margin-bottom: 12px">
                  <label>Mã đợt kiểm toán</label>
                  <input nz-input placeholder="Mã đợt kiểm toán" [(ngModel)]="opinionDetail.mgCode" [disabled]="true" />
                </div>
                <div nz-col nzSpan="12" style="padding-right: 6px; margin-bottom: 12px">
                  <label>Đợt kiểm toán</label>
                  <input nz-input placeholder="Đợt kiểm toán" [(ngModel)]="auditPeriod" [disabled]="true" />
                </div>
                <div nz-col nzSpan="12" style="padding-left: 6px; margin-bottom: 12px">
                  <label>Năm kiểm toán</label>
                  <input nz-input placeholder="Năm kiểm toán" [(ngModel)]="timeYear" [disabled]="true" />
                </div>
                <div nz-col nzSpan="12" style="margin-bottom: 12px">
                  <label>Trạng thái</label>
                  <input nz-input placeholder="Trạng thái" [(ngModel)]="opinionDetail.statusName" [disabled]="true" />
                </div>
              </div>
            </div>
            <div nz-col nzSpan="24" style="border: solid 1px #eeeeee; padding: 12px">
              <h4>
                <span nz-icon nzType="info-circle" nzTheme="outline" style="margin-right: 12px"></span>CHI TIẾT Ý KIẾN
                KIỂM TOÁN
              </h4>
              <div nz-row>
                <div nz-col nzSpan="24" style="margin-bottom: 12px">
                  <label>Yêu cầu của TTKT</label>
                  <textarea nz-input rows="2" placeholder="Yêu cầu của TTKT" [(ngModel)]="nodeCurrentOpinion.name"
                    [disabled]="true"></textarea>
                </div>
                <div nz-col nzSpan="24" style="margin-bottom: 12px"
                  [appPermission]="LIST_AUDIT_OPINION_RIGHTS.NOI_DUNG_GIAI_TRINH_CUA_DON_VI">
                  <label>Nội dung giải trình của đơn vị</label>
                  <textarea [disabled]="true" nz-input rows="2" placeholder="Nội dung giải trình của đơn vị"
                    [(ngModel)]="opinionDetail.contentOrg"></textarea>
                </div>
                <div nz-col nzSpan="24" style="margin-bottom: 12px"
                  [appPermission]="LIST_AUDIT_OPINION_RIGHTS.NHAP_NOI_DUNG_GIAI_TRINH_CUA_DON_VI">
                  <label>Nội dung giải trình của đơn vị</label>
                  <textarea
                    [disabled]="this.opinionDetail.status == '05'|| this.opinionDetail.status == '02'|| this.opinionDetail.status == '03' || this.opinionDetail.status == '06' ? 'true' : 'false'"
                    nz-input rows="2" placeholder="Nội dung giải trình của đơn vị"
                    [(ngModel)]="opinionDetail.contentOrg"></textarea>
                </div>
                <div nz-col nzSpan="24" style="margin-bottom: 12px"
                  [appPermission]="LIST_AUDIT_OPINION_RIGHTS.XEM_NOI_DUNG_GIAI_TRINH">
                  <label>Nội dung giải trình đưa lên báo cáo</label>
                  <textarea [disabled]="true" nz-input rows="2" placeholder="Nội dung giải trình đưa lên báo cáo"
                    [(ngModel)]="this.opinionDetail.contentReport"></textarea>
                  <!-- [disabled]="this.opinionDetail.status == '05' || this.opinionDetail.status == '06' ? 'true' : 'false'" -->
                </div>
                <div nz-col nzSpan="24" style="margin-bottom: 12px"
                  [appPermission]="LIST_AUDIT_OPINION_RIGHTS.CAP_NHAT_NOI_DUNG_GIAI_TRINH">
                  <label>Nội dung giải trình đưa lên báo cáo</label>
                  <textarea nz-input rows="2" placeholder="Nội dung giải trình đưa lên báo cáo"
                    [(ngModel)]="this.opinionDetail.contentReport"></textarea>
                  <!-- [disabled]="this.opinionDetail.status == '05' || this.opinionDetail.status == '06' ? 'true' : 'false'" -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="10">
        <div class="inner-box">
          <div nz-row>
            <div nz-col nzSpan="24" style="
                border: solid 1px #eeeeee;
                margin-bottom: 24px;
                padding: 12px;
              ">
              <h4>
                <span nz-icon nzType="user" nzTheme="outline" style="margin-right: 12px"></span>NHÂN SỰ
              </h4>
              <div nz-row>
                <div nz-col nzSpan="12" style="padding-right: 6px; margin-bottom: 12px">
                  <label>Phòng ban phụ trách</label>
                  <input nz-input placeholder="Phòng ban phụ trách" [(ngModel)]="opinionDetail.orgInCharge"
                    [disabled]="true" />
                </div>
                <div nz-col nzSpan="12" style="padding-left: 6px; margin-bottom: 12px">
                  <label>Người phụ trách</label>
                  <input nz-input placeholder="Người phụ trách" [(ngModel)]="opinionDetail.createBy"
                    [disabled]="true" />
                </div>
              </div>
            </div>
            <div nz-col nzSpan="24" style="
                border: solid 1px #eeeeee;
                margin-bottom: 24px;
                padding: 12px;
              ">
              <h4>
                <span nz-icon nzType="file" nzTheme="outline" style="margin-right: 12px"></span>FILE ĐÍNH KÈM
              </h4>
              <div style="margin-bottom: 5px">
                <nz-upload nzType="drag" [nzMultiple]="true" [nzAction]="this.baseUrl + '/ModuleAttachment/Upload'"
                  [nzCustomRequest]="customRequest" (nzChange)="handleChange($event)">
                  <p class="ant-upload-drag-icon">
                    <span nz-icon nzType="inbox"></span>
                  </p>
                  <p class="ant-upload-text">Thêm file đính kèm</p>
                </nz-upload>
              </div>
              <div *ngIf="attachmentsOpinion.length > 0" style="margin-top: 5px">
                <nz-list [nzDataSource]="attachmentsOpinion" nzBordered nzSize="small">
                  <nz-list-item *ngFor="let file of attachmentsOpinion">
                    <span nz-icon nzType="file" nzTheme="outline"></span>
                    <span style="color: #52c41a; margin-right: 8px" class="file-name">{{ file.name }}</span>
                    <ul nz-list-item-actions>
                      <nz-list-item-action>
                        <a (click)="downloadFile(file)"><span nz-icon nzType="vertical-align-bottom"
                            nzTheme="outline"></span></a>
                      </nz-list-item-action>
                      <nz-list-item-action>
                        <a nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn muốn xóa file này?"
                          (nzOnConfirm)="deleteFile(file)"><span nz-icon nzType="delete" nzTheme="outline"></span></a>
                      </nz-list-item-action>
                    </ul>
                  </nz-list-item>
                </nz-list>
              </div>
            </div>
            <div *ngIf="lstHistoryOpinionDetail.length > 0" nz-col nzSpan="24"
              style="border: solid 1px #eeeeee; padding: 12px">
              <h4>
                <span nz-icon nzType="history" nzTheme="outline" style="margin-right: 12px"></span>LỊCH SỬ THỰC HIỆN
              </h4>
              <nz-table #borderedTable nzBordered>
                <thead>
                  <tr>
                    <th>Người thực hiện</th>
                    <th>Hành động</th>
                    <th>Nội dung</th>
                    <th>Thời gian</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of lstHistoryOpinionDetail">
                    <td>{{ row.createBy }}</td>
                    <td>{{ row.action }}</td>
                    <td>{{ row.textContent }}</td>
                    <td>{{ row.createDate | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-drawer>
<nz-modal [(nzVisible)]="isVisibleModal" nzTitle="Xác nhận thông tin" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()" nzOkText="Xác nhận" nzCancelText="Huỷ">
  <ng-container *nzModalContent>
    <p style="font-weight: bold">
      {{ getModalMessage() }}
    </p>
    <label>Nội dung | Ý kiến</label>
    <input nz-input placeholder="..." [(ngModel)]="opinionDetail.textContent" />
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isVisibleAuditModal" nzTitle="Xác nhận thông tin" (nzOnCancel)="handleAuditCancel()"
  (nzOnOk)="handleAuditOk()" nzOkText="Xác nhận" nzCancelText="Huỷ">
  <ng-container *nzModalContent>
    <p style="font-weight: bold">
      {{ getModalAuditMessage() }}
    </p>
    <label>Nội dung | Ý kiến</label>
    <input nz-input placeholder="..." [(ngModel)]="textContent" />
  </ng-container>
</nz-modal>