<div class="container-list" [appPermission]="MGLISTTABLE_RIGHTS.LIST">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header
      nzBackIcon
      nzTitle="Bảng biểu"
      nzSubtitle="Danh sách bảng biểu"
      class="site-page-header"
    >
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <nz-space>
            <app-input-clear
              placeholder="Tìm kiếm"
              (enterEvent)="search()"
              [(value)]="filter.keyWord"
            ></app-input-clear>
            <button
              (click)="search()"
              class="flex !items-center !border-l-0 gray-btn"
              nzType="default"
              nz-button
              nzType="default"
            >
              <span nz-icon nzType="search"></span>
            </button>
            <button
              (click)="reset()"
              class="flex !items-center !border-l-0 gray-btn"
              nzType="default"
              nz-button
              nzType="default"
            >
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-space>
          <button
            (click)="openCreate()"
            class="!flex !items-center"
            nzType="primary"
            nz-button
            [appPermission]="MGLISTTABLE_RIGHTS.ADD"
          >
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
          <!-- <button
            (click)="exportExcel()"
            class="!flex !items-center"
            nz-button
            nzType="primary"
            nzDanger
            [appPermission]="MGLISTTABLE_RIGHTS.EXCEL"
          >
            <span nz-icon nzType="file-excel"></span>Tải Excel
          </button> -->
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table
      [nzScroll]="{ x: 'max-content' }"
      nzTableLayout="fixed"
      [nzShowPagination]="false"
      [nzFrontPagination]="false"
      #headerTable
      [nzData]="paginationResult.data"
    >
      <thead>
        <tr>
          <th nzWidth="30px">STT</th>
          <th
            [nzSortFn]="true"
            (nzSortOrderChange)="onSortChange('code', $event)"
            nzWidth="150px"
          >
            Mã
          </th>
          <th
            [nzSortFn]="true"
            (nzSortOrderChange)="onSortChange('name', $event)"
          >
            Tên
          </th>
          <th
            [nzSortFn]="true"
            (nzSortOrderChange)="onSortChange('timeYear', $event)"
          >
            Năm
          </th>
          <th
            [nzSortFn]="true"
            (nzSortOrderChange)="onSortChange('auditPeriod', $event)"
          >
            Đợt
          </th>
          <th
            [nzSortFn]="true"
            (nzSortOrderChange)="onSortChange('description', $event)"
          >
            Ghi chú
          </th>
          <th
            [nzSortFn]="true"
            (nzSortOrderChange)="onSortChange('isActive', $event)"
            nzWidth="100px"
            nzAlign="center"
          >
            Trạng thái
          </th>
          <th nzWidth="120px" nzAlign="center">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of headerTable.data; let i = index"
          (dblclick)="openEdit(data)"
        >
          <td>
            {{
              (paginationResult.currentPage - 1) * paginationResult.pageSize +
                i +
                1
            }}
          </td>
          <td>
            <a (click)="openEdit(data)">{{ data.code }}</a>
          </td>
          <td>{{ data.name }}</td>
          <td>{{ data.timeYear }}</td>
          <td>{{ getNameAuditPeriod(data.auditPeriod) }}</td>
          <td>{{ data.description }}</td>
          <td nzAlign="center">
            <span
              [ngClass]="data?.isActive ? '!text-green-500' : '!text-red-500'"
              nz-icon
              nzType="check-circle"
              nzTheme="outline"
            ></span>
          </td>
          <td nzAlign="center">
            <span
              nz-popconfirm
              nzPopconfirmTitle="Bạn muốn xoá bảng biểu này này ?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteItem(data.code)"
              class="!text-red-500 cursor-pointer"
              nz-icon
              nzType="delete"
              nzTheme="outline"
              [appPermission]="MGLISTTABLE_RIGHTS.DELETE"
            ></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div
    *ngIf="paginationResult?.data"
    class="flex justify-end p-[10px] border-t border-custom-gray border-solid"
  >
    <nz-pagination
      nzShowSizeChanger
      [nzPageIndex]="filter.currentPage"
      [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize"
      (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
    ></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer
  [nzMask]="!edit"
  nzSize="default"
  [nzVisible]="visible"
  [nzWidth]="820"
  nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '"
  [nzExtra]="extra"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <app-input-clear
        placeholder="Nhập mã bảng biểu"
        [required]="true"
        label="Mã "
        [control]="$any(validateForm).controls['code']"
        [required]="true"
        [disabled]="edit ? true : false"
      ></app-input-clear>
      <app-input-clear
        placeholder="Nhập tên bảng biểu"
        [required]="true"
        label="Tên "
        [control]="$any(validateForm).controls['name']"
      ></app-input-clear>
      <nz-form-item>
        <nz-form-label>Năm</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select
            nzShowSearch
            nzAllowClear
            placeholder="Chọn năm"
            formControlName="timeYear"
          >
            <nz-option
              cdkScrollable
              *ngFor="let item of timeyear"
              [nzLabel]="item.timeyear"
              [nzValue]="item.timeyear"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Đợt</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select
            nzShowSearch
            nzAllowClear
            placeholder="Chọn đợt"
            formControlName="auditPeriod"
          >
            <nz-option
              cdkScrollable
              *ngFor="let item of auditPeriod"
              [nzLabel]="item.auditPeriod"
              [nzValue]="item.code"
            >
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <app-input-clear
        placeholder="Nhập ghi chú"
        [required]="true"
        label="Ghi chú"
        [control]="$any(validateForm).controls['description']"
      ></app-input-clear>
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button
        [appPermission]="MGLISTTABLE_RIGHTS.EDIT"
        [nzLoading]="loading"
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="!flex !items-center"
        (click)="submitForm()"
      >
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button
        [appPermission]="MGLISTTABLE_RIGHTS.ADD"
        [nzLoading]="loading"
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="!flex !items-center"
        (click)="submitForm()"
      >
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button
      *nzSpaceItem
      nz-button
      nzType="default"
      nzType="primary"
      class="!flex !items-center"
      nzDanger
      (click)="close()"
    >
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
