.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.ant-table-content{
    overflow: scroll !important;
    height: calc(100vh - 206px) !important;
}
.p-m{
    margin-top: 12px;
}
.input-v{
    border: none;
    background: none;
    text-align: right;
}
._ngcontent-ng-c3840563359{
  overflow-y: auto !important;
    height: calc(100vh - 206px) !important;
}

.btn-excel{
    background-color: #008B45;
    border-color: #008B45;
}
.btn-pdf{
    background-color: #EE6363;
    border-color: #EE6363;
}
.btn-sms{
    background-color: #EEC900;
    border-color: #EEC900;
}
.btn-email{
    background-color: #696969;
    border-color: #696969;
}

.zoom{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  padding: 5px 20px;
}
.close{
 position: absolute;
    right: 36px;
    top: 10px;
    z-index: 11;
}
.d-none{
  display: none;
}
.d-block{
  display: block;
}
