<div class="container-list" [appPermission]="LAIGOPDIEUTIET_RIGHTS.LIST">
  <nz-tabset>
    <nz-tab nzTitle="Tab 1">Content of Tab Pane 1</nz-tab>
    <nz-tab nzTitle="Tab 2">Content of Tab Pane 2</nz-tab>
    <nz-tab nzTitle="Tab 3">Content of Tab Pane 3</nz-tab>
  </nz-tabset>
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header-extra>
      <nz-space [nzWrap]="true" class="gap-[5px]">
        <nz-space nz-row nzJustify="end">
          <nz-form-item nzSpan="9">
            <nz-form-label>Từ ngày </nz-form-label>
            <nz-form-control nzErrorTip="Không đươc để trống">
              <nz-date-picker style="width: 100%" formControlName="fromDate" nzPlaceHolder="Từ ngày"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nzSpan="9">
            <nz-form-label [nzRequired]="true">Đến ngày</nz-form-label>
            <nz-form-control nzErrorTip="không được để trống">
              <nz-date-picker style="width: 100%" formControlName="toDate" nzPlaceHolder="đến ngày"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nzSpan="2">
            <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-form-item>
          <nz-form-item nzSpan="3">
            <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button
              [appPermission]="LAIGOPDIEUTIET_RIGHTS.ADD">
              <span nz-icon nzType="plus-circle"></span> Xuất Excel
            </button>
          </nz-form-item>

        </nz-space>
      </nz-space>
    </nz-page-header-extra>
  </div>
  <div class="overflow-auto flex-grow">

  </div>
  <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
    <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer nzWidth="35%" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <app-input-clear placeholder="Nhập mã " [required]="true" label="Mã "
        [control]="$any(validateForm).controls['code']" [required]="true" [disabled]="true"></app-input-clear>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Thị Trường</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear ngModel="Chọn thị trường" placeholder="Chọn thị trường"
            formControlName="marketCode">
            <nz-option cdkScrollable *ngFor="let item of marketResult" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Mặt hàng</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn mặt hàng" formControlName="goodsCode">
            <nz-option cdkScrollable *ngFor="let item of goodsResult" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <app-input-clear placeholder="Nhập giá bán" [required]="true" label="Giá bán "
        [control]="$any(validateForm).controls['price']"></app-input-clear>

      <div nz-row nzJustify="space-between">
        <nz-form-item nzSpan="12">
          <nz-form-label>Từ ngày </nz-form-label>
          <nz-form-control nzErrorTip="Không đươc để trống">
            <nz-date-picker style="width: 100%" formControlName="fromDate" nzPlaceHolder="Từ ngày"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nzSpan="12">
          <nz-form-label [nzRequired]="true">Đến ngày</nz-form-label>
          <nz-form-control [nzErrorTip]="this.errorDate">
            <nz-date-picker style="width: 100%" formControlName="toDate" nzPlaceHolder="đến ngày"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" [appPermission]="LAIGOPDIEUTIET_RIGHTS.EDIT" *nzSpaceItem nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem [appPermission]="LAIGOPDIEUTIET_RIGHTS.ADD" nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
