td>button {
    margin-left: 6px;
}

td>textarea {
    width: 100%;
    border: none;
    background: transparent;
}
td>textarea:focus {
    outline: none;
    border: none;
}

.div-print {
    width: 680px;
    height: 480px;
    border: solid 1px black;
    padding: 12px;
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection,
    #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}

#tbl-print th,#tbl-print td {
    border: solid 1px black;
}
#tbl-print td {
    padding: 4px 6px;
}