<div class="container-list" [appPermission]="MAP_POINT_CUSTOMER_GOODS_RIGHTS.LIST">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon nzTitle="Vùng" nzSubtitle="Danh sách vùng" class="site-page-header">
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <nz-space>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn Khách hàng nhận" style="width: 240px;" [(ngModel)]="filter.customerCode">
              <nz-option cdkScrollable *ngFor="let item of lstCustomer" [nzLabel]="item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn Điểm giao hàng" style="width: 240px;" [(ngModel)]="filter.pointCode">
              <nz-option cdkScrollable *ngFor="let item of lstDeliveryPoint" [nzLabel]="item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
            <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()"
              [(value)]="filter.keyWord"></app-input-clear>
            <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="search"></span>
            </button>
            <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-space>
          <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button
            [appPermission]="MAP_POINT_CUSTOMER_GOODS_RIGHTS.ADD">
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
          <!-- <button
            (click)="exportExcel()"
            class="!flex !items-center"
            nz-button
            nzType="primary"
            [appPermission]="MAP_POINT_CUSTOMER_GOODS_RIGHTS.EXCEL"
            nzDanger
          >
            <span nz-icon nzType="file-excel"></span>Tải Excel
          </button> -->
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="paginationResult.data">
      <thead>
        <tr>
          <th nzWidth="30px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('code', $event)" nzWidth="150px">
            Điểm giao hàng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name', $event)">
            Khách hàng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name', $event)">
            Mặt hàng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('cuocVcBq', $event)" nzAlign="center">
            Cước Vận chuyển bình quân
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('type', $event)" nzAlign="center">
            Kiểu
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">
            Trạng thái
          </th>
          <!-- <th
            nzAlign="center"
            [appPermission]="MAP_POINT_CUSTOMER_GOODS_RIGHTS.DELETE"
          >
            Hành động
          </th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (click)="openEdit(data)">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1
            }}
          </td>
          <td>
            <span *ngFor="let item of lstDeliveryPoint" >
              <span *ngIf="item.code == data.deliveryPointCode">{{ item.name }}</span>
            </span>
          </td>
          <td>
            <span *ngFor="let item of lstCustomer" >
              <span *ngIf="item.code == data.customerCode">{{ item.name }}</span>
            </span>
          </td>
          <td>
            <span *ngFor="let item of lstGoods" >
              <span *ngIf="item.code == data.goodsCode">{{ item.name }}</span>
            </span>
          </td>
          <td class="align-right">{{ data.cuocVcBq | number}}</td>
          <td>
            <span *ngFor="let item of lstCustomerType" >
              <span *ngIf="item.code == data.type">{{ item.name }}</span>
            </span>
          </td>
          <td nzAlign="center">
            <span [ngClass]="data?.isActive ? '!text-green-500' : '!text-red-500'" nz-icon nzType="check-circle"
              nzTheme="outline"></span>
          </td>
          <!-- <td nzAlign="center">
            <span
              nz-popconfirm
              nzPopconfirmTitle="Bạn muốn xoá loại địa phương này ?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteItem(data.code)"
              class="!text-red-500 cursor-pointer"
              nz-icon
              nzType="delete"
              nzTheme="outline"
              [appPermission]="MAP_POINT_CUSTOMER_GOODS_RIGHTS.DELETE"
            ></span>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
    <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Điểm giao hàng</nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn Điểm giao hàng" formControlName="deliveryPointCode">
              <nz-option cdkScrollable *ngFor="let item of lstDeliveryPoint" [nzLabel]="item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Khách hàng nhận</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn Khách hàng nhận" formControlName="customerCode">
            <nz-option cdkScrollable *ngFor="let item of lstCustomer" [nzLabel]="item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Mặt hàng</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn Mặt hàng" formControlName="goodsCode">
            <nz-option cdkScrollable *ngFor="let item of lstGoods" [nzLabel]="item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <app-input-clear placeholder="Nhập cước vận chuyển bình quân" [required]="true" label="Cước vận chuyển bình quân"
      [control]="$any(validateForm).controls['cuocVcBq']"></app-input-clear>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Kiểu</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn Kiểu" formControlName="type">
            <nz-option cdkScrollable *ngFor="let item of lstCustomerType" [nzLabel]="item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" [appPermission]="MAP_POINT_CUSTOMER_GOODS_RIGHTS.EDIT" *nzSpaceItem nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem [appPermission]="MAP_POINT_CUSTOMER_GOODS_RIGHTS.ADD" nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
