:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  height: 56px;
  font-size: 20px;
  cursor: pointer;
  transition:
    all 0.3s,
    padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 56px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 56px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 30px;
  width: 220px;
  vertical-align: middle;
}

.sidebar-logo .img-isCollapsed {
  height: 32px;
  width: 32px;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  font-family:
    Avenir,
    Helvetica Neue,
    Arial,
    Helvetica,
    sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 56px;
  padding: 0 24px;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 24px;
}

.inner-content {
  height: calc(100vh - 75px);
  background: #ffffff;
}
.ant-menu.ant-menu-dark .ant-menu-item:hover,
.ant-menu.ant-menu-dark .ant-menu-submenu-title:hover {
  background: #f2f2f2 !important; /* Màu nền khi hover vào các dòng */
  color: #000000 !important; /* Màu chữ khi hover vào các dòng */
}
.ant-menu.ant-menu-dark .ant-menu-item,
.ant-menu.ant-menu-dark .ant-menu-submenu-title {
  color: #ffffff !important; /* Màu chữ menu */
}
::ng-deep .ant-menu-dark .ant-menu-item-selected {
  background-color: #1e2a38 !important;
  color: #000000;
}
::ng-deep .ant-menu-dark .ant-menu-item-selected,
::ng-deep .ant-menu-dark .ant-menu-item-selected span,
::ng-deep .ant-menu-dark .ant-menu-item-selected span[nz-icon] {
  color: #000000 !important; /* Đảm bảo màu sắc của văn bản và icon */
}

::ng-deep .ant-menu-dark .ant-menu-submenu-title-selected {
  background-color: #1e2a38 !important;
  color: #000000;
}

// tam diem theme

.ant-menu.ant-menu-dark {
  background: #424242 !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background: #ffffff !important;
  color: #000000;
}

.sidebar-logo {
  background: #424242;
}

::ng-deep {
  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #222222 !important;
    color: #000000;
  }

  .ant-menu-submenu-popup .ant-menu-item-selected {
    background: #ffffff !important;
    color: #000000;
  }

  .ant-menu-dark .ant-menu-sub {
    background: #424242 !important;
    color: #000000;
  }
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 576px) {
  .ant-layout-sider {
    flex: 0 0 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
    width: 0px !important;
    display: none !important;
  }
  .ant-layout-sider-collapsed {
    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;
    display: block !important;
  }
}
