.office-viewer{
    height: 92%;
    margin: 12px 4px 4px 4px;
}
.Embed.WACFrameWord{
    border: none !important;
    background: border-box !important;
}
.usehover .Embed.WACFrameWord:hover {
    border-color: none;
}