nz-input-group {
    margin-bottom: 12px;
  }
  .btn_success {
    background-color: #28a745;
    border: 1px solid #28a745;
    color: #ffffff;
  }
  .btn_warning {
    background-color: #28a745;
    border: 1px solid #28a745;
    color: #ffffff;
  }
  
  .node_icon {
    color: #ff4d4f;
    z-index: 10;
  }
  .icon-tree {
    font-size: 10px;
  }

  .div-org{
    height: calc(100vh - 210px);
    overflow: auto;
  }
  .input-form{
    margin-bottom: 12px;
  }