.custom-checkbox {
  display: flex;
  align-items: center;
}
.custom-checkbox .checkbox-text {
  margin-left: 8px;
  color: currentColor;
}

.custom-checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid currentColor;
  border-radius: 3px;
}
.custom-checkbox .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.custom-checkbox.active .checkmark {
  border-color: #4caf50;
}

.custom-checkbox.active .checkmark:after {
  border-color: #4caf50;
}

.custom-checkbox.inactive .checkmark {
  border-color: #ff0000;
}

.custom-checkbox.inactive .checkmark:after {
  border-color: #ff0000;
}
.custom-checkbox.active .checkbox-text {
  color: #4caf50;
}

.custom-checkbox.active .checkbox-text {
  color: #4caf50;
}

.custom-checkbox.inactive .checkbox-text {
  color: #ff0000;
}

.custom-checkbox.inactive .checkbox-text {
  color: #ff0000;
}
