.text-default {
  color: black; /* Mặc định */
}

.text-orange {
  color: #cc9402;
  /* Màu cam cho 'Chờ phê duyệt' */
}

.text-green {
  color: #20e540; /* Màu xanh lá cây cho 'Đã phê duyệt' */
}

.text-red {
  color: #20e540; /* Màu đỏ cho 'Hủy bỏ' */
}
