<div class="container-list" [appPermission]="DISCOUNT_INFORMATION_LIST_RIGHTS.LIST">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon nzTitle="Danh sách đợt phân tích" class="site-page-header">
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button
            [appPermission]="DISCOUNT_INFORMATION_LIST_RIGHTS.ADD">
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow" [appPermission]="DISCOUNT_INFORMATION_LIST_RIGHTS.LIST">
    <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="list">
      <thead>
        <tr>
          <th nzWidth="30px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name', $event)">
            Tên
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('fDate', $event)">
            Ngày hiệu lực
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of list; let i = index" (click)="openEdit(data)">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1
            }}
          </td>
          <td>{{ data.name }}</td>

          <td>{{ data.fDate | date: 'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
    <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer [nzMask]="!edit" [nzWidth]="'60%'" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>

    <nz-divider nzText="THÔNG TIN" nzOrientation="left"></nz-divider>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" [nzSpan]="18">
        <div class="inner-box">
          <label>Tên đợt nhập</label>
          <input nz-input  class="input-v align-left" [(ngModel)]="model.header.name" />
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <label>Ngày hiệu lực</label>
          <nz-date-picker nzShowTime nzFormat="dd-MM-yyyy HH:mm:ss" [(ngModel)]="model.header.fDate"></nz-date-picker>
        </div>
      </div>
    </div>
    <nz-divider nzText="HỆ SỐ MẶT HÀNG" nzOrientation="left"></nz-divider>

    <nz-table #hsTable [nzData]="model.goodss" nzSize="small">
      <thead>
        <tr>
          <th rowspan="2" [nzAlign]="'center'"></th>

          @for(c of competitorResult; track c){
          <th rowspan="2" [nzAlign]="'center'" >{{ c.name }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of hsTable.data; track data) {
        <tr>
          <td style="width: 20%;">
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn mặt hàng" [(ngModel)]="data.code" [nzDisabled]="true"
              style="width: 100%;">
              <nz-option cdkScrollable *ngFor="let item of goodsResult" [nzLabel]="item.name" [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </td>
          @for(d of data.hs; track d){
            <td>
              <input class="input-v" nz-input [(ngModel)]="d.discount" placeholder="0" type="number" />
            </td>
          }
        </tr>
        }
      </tbody>
    </nz-table>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container>
      <button [nzLoading]="loading" *nzSpaceItem [appPermission]="DISCOUNT_INFORMATION_LIST_RIGHTS.ADD" nz-button
        nzType="primary" class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
