<div class="container-list" [appPermission]="LIST_AUDIT_TABLE_RIGHTS.XEM_CHI_TIET">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon [nzTitle]="getNameTemplate()" class="site-page-header">
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <ng-container *ngIf="auditTemplateListTables.status === '1'">
            <button nz-button (click)="openOpinionModal(auditTemplateListTables, 'review_parent')"
              [appPermission]="LIST_AUDIT_TABLE_RIGHTS.TRINH_DUYET">
              Trình duyệt
            </button>
          </ng-container>
          <ng-container *ngIf="auditTemplateListTables.status === '2'">
            <button nz-button (click)="openOpinionModal(auditTemplateListTables, 'confirm')"
              [appPermission]="LIST_AUDIT_TABLE_RIGHTS.XAC_NHAN">
              Xác nhận
            </button>

            <button nz-button (click)="openOpinionModal(auditTemplateListTables, 'reject_parent')"
              [appPermission]="LIST_AUDIT_TABLE_RIGHTS.TONG_TU_CHOI">
              Yêu cầu chỉnh sửa
            </button>
            <button nz-button (click)="openOpinionModal(auditTemplateListTables, 'cancel_review_stc')" [appPermission]="
                  LIST_AUDIT_TABLE_RIGHTS.HUY_TRINH_DUYET ">
              Hủy trình duyệt
            </button>
          </ng-container>
          <ng-container *ngIf="auditTemplateListTables.status === '4'">
            <ng-container *ngIf="listAuditStatus === 'Đã phê duyệt'">
              <button nz-button (click)="openOpinionModal(auditTemplateListTables, 'approval')"
                [appPermission]="LIST_AUDIT_TABLE_RIGHTS.STC_PHE_DUYET">
                Phê duyệt
              </button>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="auditTemplateListTables.status === '3'">
            <button nz-button (click)="openOpinionModal(auditTemplateListTables, 'cancel-approval')" [appPermission]="
                  LIST_AUDIT_TABLE_RIGHTS.HUY_PHE_DUYET
                ">
              Hủy phê duyệt
            </button>
          </ng-container>

          <button class="!flex !items-center" nz-button nzType="default" (click)="saveData()"
            [appPermission]="LIST_AUDIT_TABLE_RIGHTS.EDIT">
            <span nz-icon nzType="import"></span>Lưu
          </button>
          <button class="!flex !items-center" nz-button nzType="default" (click)="showUploadModal()"
            [appPermission]="LIST_AUDIT_TABLE_RIGHTS.EDIT">
            <span nz-icon nzType="upload"></span>Upload
          </button>
          <button class="!flex !items-center" nz-button nzType="default" (click)="exportExcel()"
            [appPermission]="LIST_AUDIT_TABLE_RIGHTS.EDIT">
            <span nz-icon nzType="download"></span>Dowload
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="templateListDataAudit">
      <thead>
        <tr>
          <th nzAlign="center">Mã đơn vị</th>
          <th>Tên đơn vị</th>
          <th>Mã chỉ tiêu</th>
          <th>Tên chỉ tiêu</th>
          <th nzAlign="center">Đơn vị</th>
          <th nzAlign="center">Giá trị kiểm toán</th>
          <th nzAlign="center">Thuyết minh của kiểm toán</th>
          <th nzAlign="center">Giá trị giải trình</th>
          <th nzAlign="center">Thuyết minh giải trình</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><Strong>Tổng cộng</Strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td nzAlign="center"></td>
          <td nzAlign="center">{{ totalAuditValue | number: '1.0-0' }}</td>
          <td></td>
          <td nzAlign="center">
            {{ totalExplanationValue | number: '1.0-0' }}
          </td>
          <td></td>
        </tr>
        <tr *ngFor="let data of headerTable.data">
          <td>
            {{ data.orgCode }}
          </td>
          <td>{{ getOrgName(data.orgCode) }}</td>
          <td>{{ getIdListTables(data.listTablesCode) }}</td>
          <td>{{ getNamesListTables(data.listTablesCode) }}</td>
          <td>{{ data.unit }}</td>
          <td nzAlign="center">
            <ng-container
              *ngIf="canUpdateAudit &&  listAuditStatus === 'Khởi tạo' && auditTemplateListTables.status === '1' && isEditableRow(data) ; else readonlyAuditValue">
              <div class="editable-cell" [hidden]="editId === data.code" (click)="startEdit(data.code)">
                {{ data.auditValue | number: '1.0-0' }}
              </div>
              <input [hidden]="editId !== data.code" type="number" nz-input [(ngModel)]="data.auditValue"
                (ngModelChange)="onInputChange(data, 'auditValue', $event)" (blur)="stopEdit()"
                (keydown.enter)="stopEdit()" />
            </ng-container>
            <ng-template #readonlyAuditValue>
              {{ data.auditValue | number: '1.0-0' }}
            </ng-template>
          </td>
          <td nzAlign="center">
            <button nz-button (click)="openAuditNotesModal(data)">
              <span nz-icon nzType="file-text" nzTheme="outline"></span>
            </button>
          </td>
          <td nzAlign="center">
            <ng-container
              *ngIf="canUpdateExplanation && listAuditStatus === 'Đã phê duyệt' && auditTemplateListTables.status === '4' && isEditableRow(data); else readonlyExplanationValue">
              <div class="editable-cell" [hidden]="editId === data.code" (click)="startEdit(data.code)">
                {{ data.explanationValue | number: '1.0-0' }}
              </div>
              <input [hidden]="editId !== data.code" type="number" nz-input [(ngModel)]="data.explanationValue"
                (ngModelChange)="
                  onInputChange(data, 'explanationValue', $event)
                " (blur)="stopEdit()" (keydown.enter)="stopEdit()" />
            </ng-container>
            <ng-template #readonlyExplanationValue>
              {{ data.explanationValue | number: '1.0-0' }}
            </ng-template>
          </td>
          <td nzAlign="center">
            <button nz-button (click)="openExplanationModal(data)">
              <span nzAlign="center" nz-icon nzType="file-text" nzTheme="outline"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- For Audit Notes Modal -->
<nz-modal [(nzVisible)]="isAuditNotesModalVisible" nzTitle="Thuyết minh của kiểm toán"
  (nzOnCancel)="handleAuditNotesCancel()" (nzOnOk)="handleAuditNotesOk()">
  <ng-container *nzModalContent>
    <textarea nz-input style="width: 100%" [(ngModel)]="auditNotesModalContent"
      [nzAutosize]="{ minRows: 5, maxRows: 5 }"></textarea>
  </ng-container>
</nz-modal>

<!-- For Explanation Modal -->
<nz-modal [(nzVisible)]="isExplanationModalVisible" nzTitle="Thuyết minh giải trình"
  (nzOnCancel)="handleExplanationCancel()" (nzOnOk)="handleExplanationOk()">
  <ng-container *nzModalContent>
    <textarea nz-input style="width: 100%" [(ngModel)]="explanationModalContent"
      [nzAutosize]="{ minRows: 5, maxRows: 5 }"></textarea>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isUploadModalVisible" nzTitle="Upload Excel File" (nzOnCancel)="handleUploadCancel()"
  (nzOnOk)="handleUploadOk()" [nzOkLoading]="isUploading">
  <ng-container *nzModalContent>
    <nz-upload nzType="drag" [nzMultiple]="false" [nzAction]="this.baseUrl + '/ModuleAttachment/Upload'"
      [nzBeforeUpload]="beforeUpload" [nzCustomRequest]="customRequest" (nzChange)="handleFileChange($event)"
      [nzFileList]="fileList" nzAccept=".xlsx,.xls">
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Thêm file upload</p>
    </nz-upload>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isCancelModalVisible" (nzOnCancel)="handleCancelModal()" (nzOnOk)="handleCancelOk()"
  [nzFooter]="null" class="custom-modal">
  <ng-container *nzModalContent>
    <div class="modal-header">
      <h2 style="text-align: center; font-size: 2rem">
        <strong>{{ cancelModalTitle }} ?</strong>
      </h2>
      <p style="text-align: center; color: #666">
        Xác nhận có {{ cancelModalTitle }} bảng biểu kỳ kiểm toán?
      </p>
    </div>
    <form nz-form>
      <nz-form-item>
        <nz-form-control>
          <textarea nz-input [(ngModel)]="cancelOpinionText" name="cancelOpinion" rows="2"
            placeholder="Ý kiến"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div style="text-align: center; margin-top: 20px">
      <button nz-button nzType="primary" style="border-radius: 10px; width: 6rem" nzSize="large"
        (click)="handleCancelOk()">
        Xác nhận
      </button>
      <button nz-button nzType="primary" nzDanger nzSize="large"
        style="margin-left: 5rem; border-radius: 10px; width: 6rem" (click)="handleCancelModal()">
        Huỷ
      </button>
    </div>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isReviewModalVisible" [nzFooter]="null" class="custom-modal"
  (nzOnCancel)="handleReviewCancel()" (nzOnOk)="handleReviewOk()">
  <ng-container *nzModalContent>
    <div class="modal-header">
      <h2 style="text-align: center; font-size: 2rem">
        <strong>TRÌNH DUYỆT ? </strong>
      </h2>
      <p style="text-align: center; color: #666">
        Xác nhận có trình duyệt bảng biểu kỳ kiểm toán?
      </p>
    </div>
    <form nz-form>
      <nz-form-item>
        <nz-form-control>
          <textarea nz-input [(ngModel)]="reviewOpinionText" name="reviewOpinion" rows="2"
            placeholder="Ý kiến"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div style="text-align: center; margin-top: 20px">
      <button nz-button nzType="primary" style="border-radius: 10px; width: 6rem" nzSize="large"
        (click)="handleReviewOk()">
        Xác nhận
      </button>
      <button nz-button nzType="primary" nzDanger nzSize="large"
        style="margin-left: 5rem; border-radius: 10px; width: 6rem" (click)="handleReviewCancel()">
        Huỷ
      </button>
    </div>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isApprovalModalVisible" [nzFooter]="null" class="custom-modal"
  (nzOnCancel)="handleApprovalCancel()" (nzOnOk)="handleApprovalOk()">
  <ng-container *nzModalContent>
    <div class="modal-header">
      <h2 style="text-align: center; font-size: 2rem">
        <strong>PHÊ DUYỆT </strong>
      </h2>
      <p style="text-align: center; color: #666">
        Xác nhận có phê duyệt bảng biểu kỳ kiểm toán?
      </p>
    </div>
    <div style="text-align: center; margin-top: 20px">
      <button nz-button nzType="primary" style="border-radius: 10px; width: 6rem; text-align: center" nzSize="large"
        (click)="handleApprovalOk()">
        Xác nhận
      </button>
      <button nz-button nzType="primary" nzDanger nzSize="large" style="
          margin-left: 5rem;
          border-radius: 10px;
          width: 6rem;
          text-align: center;
        " (click)="handleApprovalCancel()">
        Huỷ
      </button>
    </div>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isConfirmModalVisible" [nzFooter]="null" class="custom-modal"
  (nzOnCancel)="handleConfirmCancel()" (nzOnOk)="handleConfirmlOk()">
  <ng-container *nzModalContent>
    <div class="modal-header">
      <h2 style="text-align: center; font-size: 2rem">
        <strong>Xác nhận </strong>
      </h2>
      <p style="text-align: center; color: #666">
        Xác nhận nội dung giá trị kiểm toán và thuyết minh kiểm toán?
      </p>
    </div>
    <div style="text-align: center; margin-top: 20px">
      <button nz-button nzType="primary" style="border-radius: 10px; width: 6rem; text-align: center" nzSize="large"
        (click)="handleConfirmlOk()">
        Xác nhận
      </button>
      <button nz-button nzType="primary" nzDanger nzSize="large" style="
        margin-left: 5rem;
        border-radius: 10px;
        width: 6rem;
        text-align: center;
      " (click)="handleConfirmCancel()">
        Huỷ
      </button>
    </div>
  </ng-container>
</nz-modal>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [appPermission]="LIST_AUDIT_TABLE_RIGHTS.EDIT" [nzLoading]="loading" *nzSpaceItem nz-button
        nzType="primary" class="!flex !items-center">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
  </nz-space>
</ng-template>