.wrap{
  display: flex;
  gap: 40px;
}
.chart-container {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
nz-select {
  width: 200px;
}
// [nz-button] {
//   margin-right: 8px;
//   margin-bottom: 12px;
// }
.header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 10px;
}
.header>button{
  margin: 0;
}
.segment-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-block-end: 1rem;
}

.btn-wrappers {
  block-size: 10rem;
  border: 1px solid var(--ant-primary-6);
}
td>button {
  margin-left: 6px;
}

.btn-excel{
  background-color: #008B45;
  border-color: #008B45;
}
td>textarea {
  width: 100%;
  border: none;
  background: transparent;
}

td>textarea:focus {
  outline: none;
  border: none;
}

.div-print,
.div-print * {
  width: 680px;
  height: 480px;
  border: solid 1px black;
  padding: 12px;
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 16px !important;
}

@media print {
  body * {
    visibility: hidden;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 16px !important;
  }

  #printSection,
  #printSection * {
    visibility: visible;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 16px !important;
  }

  #printSection {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 16px !important;
  }
}
