<div class="bg-order" [ngClass]="isFullscreen ? 'zoom' : ''">
    <div class="order-header">
        <div class="app-header flex justify-between items-center">
            <div class="header-trigger flex items-center gap-[24px]">
                <img src="assets/img/plx-order.png" class="logo-plx">
            </div>
            <div class="header-trigger flex items-center gap-[24px]">
                <div class="text-notif">{{title}}</div>
            </div>
            <div class="header-trigger flex items-center gap-[24px]">
                <span nz-icon nzType="fullscreen" nzTheme="outline" class="is-fullscreen" (click)="toggleFullscreen(true)" *ngIf="!isFullscreen"></span>
                <span nz-icon nzType="fullscreen-exit" nzTheme="outline" class="is-fullscreen" (click)="toggleFullscreen(false)" *ngIf="isFullscreen"></span>
            </div>
        </div>
    </div>
    <div class="order-main">
        <table>

            <thead>
              <tr>
                <th colspan="2">Thiết bị</th>
                <th rowspan="2">Mặt hàng</th>
                <th colspan="4">Thứ tự xếp hàng</th>
              </tr>
              <tr>
                <th>Giàn</th>
                <th>Họng</th>
                <th style="width: 224px !important;">1</th>
                <th style="width: 224px !important;">2</th>
                <th style="width: 224px !important;">3</th>
                <th style="width: 224px !important;">4</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of lstArrangePumpNozzle">
                <td>{{i.pumpRigName}}</td>
                <td>{{i.pumpThroatName}}</td>
                <td>{{i.materialName}}</td>
                <td *ngFor="let value of i.order">{{ value }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
