.no-image {
    width: 160px;
    height: 160px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 14px;
    background-color: #f9f9f9;
  }
  .camera-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Điều chỉnh kích thước theo ý muốn */
    height: 40px;
    padding: 0;
  }
  