<div class="container-list">
    <div class="site-page-header-ghost-wrapper">
      <nz-page-header nzBackIcon nzTitle="CẤU HÌNH MÀN HÌNH" class="site-page-header">
        <nz-page-header-extra>
          <nz-space [nzWrap]="true" class="gap-[5px]">
            <nz-space class="gap-[5px]">
              <button nz-button nzType="primary" class="!flex !items-center" (click)="openCreate()">
                <span nz-icon nzType="plus-circle"></span>
                Thêm mới
              </button>
            </nz-space>
          </nz-space>
        </nz-page-header-extra>
      </nz-page-header>
    </div>
    <nz-table #wTable [nzData]="lstConfigDisplay">
      <thead>
        <tr>
          <th>Tên màn hình</th>
          <th>Bản ghi từ</th>
          <th>Đến</th>
          <th>Loại màn hình</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        @for (data of wTable.data; track data) {
        <tr (click)="openEdit(data)">
          <td>{{ data.name }}</td>
          <td>{{ data.cfrom }}</td>
          <td>{{ data.cto }}</td>
          <td>{{ data.display == '01' ? 'Màn hình số thứ tự' : 'Màn hình xếp họng'  }}</td>
          <td>
            <nz-tag nzColor="success" *ngIf="data.isActive">
              <span nz-icon nzType="check-circle"></span>
              <span>Kích hoạt</span>
            </nz-tag>
            <nz-tag nzColor="error" *ngIf="!data.isActive">
              <span nz-icon nzType="close-circle"></span>
              <span>Khoá</span>
            </nz-tag>
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  
    <!--Create Update-->
    <nz-drawer [nzMask]="!edit" [nzVisible]="visible" nzPlacement="right" [nzTitle]="edit ? 'Chỉnh sửa ' : 'Tạo mới '"
      [nzExtra]="extra" (nzOnClose)="close()">
      <ng-container *nzDrawerContent>
        <label>Tên màn hình</label>
        <input nz-input class="input-form" placeholder="Tên màn hình" [(ngModel)]="itemEdit.name" />
        
        
        
        <label>Số bản ghi từ</label>
        <input nz-input class="input-form" placeholder="Số bản ghi từ" [(ngModel)]="itemEdit.cfrom" />
        <label>đến</label>
        <input nz-input class="input-form" placeholder="Số bản ghi từ" [(ngModel)]="itemEdit.cto" />
        
        <label>Loại màn hình</label>
        <div>
            <nz-select class="input-form" nzShowSearch nzAllowClear [(ngModel)]="itemEdit.display"
              nzPlaceHolder="Chọn loại màn hình" style="width: 100%;">
              <nz-option [nzValue]="'01'" [nzLabel]="'Màn hình số thứ tự'"></nz-option>
              <nz-option [nzValue]="'02'" [nzLabel]="'Màn hình xếp họng'"></nz-option>
            </nz-select>
          </div>
        
        
        <label>Trạng thái</label>
        <div>
          <nz-radio-group [(ngModel)]="itemEdit.isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </div>
  
      </ng-container>
    </nz-drawer>
  
    <ng-template #extra>
      <nz-space>
        <button *nzSpaceItem nz-button nzType="primary" class="!flex !items-center" (click)="submitForm()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
        </button>
        <button *nzSpaceItem nz-button nzType="primary" class="!flex !items-center" nzDanger (click)="close()">
          <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
        </button>
      </nz-space>
    </ng-template>