<div class="container-list">
  <div class="site-page-header-ghost-wrapper">
    <nz-tabset nzSize="large" (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab nzTitle="THÔNG TIN">
        <div class="tab-content-scrollable">
          <form nz-form nzLayout="vertical" [formGroup]="mgOpinionListForm">
            <div class="flex justify-end" style="margin-right: 3rem">
              <button [nzLoading]="loading" nz-button nzType="primary" class="!flex !items-center"
                (click)="submitFormUpdate()">
                <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
              </button>
            </div>
            <app-input-clear placeholder="Nhập mã kiến nghị" [required]="true" label="Mã "
              [control]="$any(mgOpinionListForm).controls['code']" [required]="true"
              [disabled]="edit ? true : false"></app-input-clear>
            <app-input-clear placeholder="Nhập tên kiến nghị" [required]="true" label="Tên "
              [control]="$any(mgOpinionListForm).controls['name']"></app-input-clear>
            <nz-form-item>
              <nz-form-label>Năm</nz-form-label>
              <nz-form-control nzErrorTip="Không được để trống">
                <nz-select nzShowSearch nzAllowClear placeholder="Chọn năm" formControlName="timeYear">
                  <nz-option cdkScrollable *ngFor="let item of timeyear" [nzLabel]="item.timeyear"
                    [nzValue]="item.timeyear">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Đợt</nz-form-label>
              <nz-form-control nzErrorTip="Không được để trống">
                <nz-select nzShowSearch nzAllowClear placeholder="Chọn đợt" formControlName="auditPeriod">
                  <nz-option cdkScrollable *ngFor="let item of auditPeriod" [nzLabel]="item.auditPeriod"
                    [nzValue]="item.code">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <app-input-clear placeholder="Nhập ghi chú" [required]="true" label="Ghi chú"
              [control]="$any(mgOpinionListForm).controls['description']"></app-input-clear>
            <nz-form-item>
              <nz-form-label>Trạng thái</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="isActive">
                  <label nz-radio [nzValue]="true">Kích hoạt</label>
                  <label nz-radio [nzValue]="false">Khoá</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </nz-tab>
      <nz-tab nzTitle="CÂY KIẾN NGHỊ KIỂM TOÁN">
        <form nz-form [nzLayout]="'inline'" [formGroup]="opinionForm">
          <app-input-clear label="Năm" [control]="$any(opinionForm).controls['timeYear']"
            [disabled]="true"></app-input-clear>
          <nz-form-item>
            <nz-form-label>Đợt</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select nzShowSearch nzAllowClear placeholder="Chọn đợt" formControlName="auditPeriod"
                [nzDisabled]="true">
                <nz-option cdkScrollable *ngFor="let item of auditPeriod" [nzLabel]="item.auditPeriod"
                  [nzValue]="item.code">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </form>
        <nz-page-header nzBackIcon nzTitle="DANH MỤC KIẾN NGHỊ" class="site-page-header">
          <nz-page-header-extra>
            <nz-space [nzWrap]="true" class="gap-[5px]">
              <nz-space class="gap-[5px]">
                <div>
                  <nz-input-group [nzSuffix]="suffixIcon" style="width: auto">
                    <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue"
                      (ngModelChange)="searchTables(searchValue)" />
                  </nz-input-group>
                  <ng-template #suffixIcon>
                    <span nz-icon nzType="search"></span>
                  </ng-template>
                  <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
                    nzType="default">
                    <span nz-icon nzType="redo"></span>
                  </button>
                </div>
                <button (click)="updateOrderTree()" class="!flex !items-center btn_success" nz-button>
                  <span nz-icon nzType="check" nzTheme="outline"></span> Cập
                  nhật thứ tự
                </button>
                <button class="!flex !items-center" nz-button nzType="default" (click)="showUploadModal()">
                  <span nz-icon nzType="upload"></span>Upload
                </button>
                <button class="!flex !items-center btn_success" nz-button (click)="downloadTemplate()">
                  <span nz-icon nzType="download" nzTheme="outline"></span>
                  Download mẫu
                </button>
              </nz-space>
            </nz-space>
          </nz-page-header-extra>
        </nz-page-header>

        <nz-tree #treeCom class="!pl-[10px] overflow-auto" [nzData]="nodes" nzDraggable nzBlockNode
          (nzOnDrop)="nzEvent($event)" [nzSearchValue]="searchValue" (nzExpandChange)="nzEvent($event)"
          (nzSearchValueChange)="nzEvent($event)" (nzOnDrop)="onDrop($event)" (nzOnDragStart)="onDragStart($event)"
          [nzTreeTemplate]="nzTreeTemplate" [nzExpandedIcon]="multiExpandedIconTpl">
          <ng-template #nzTreeTemplate let-node>
            <div class="!flex justify-between pr-8 note_title">
              <div class="flex-1 mr-4" (click)="onClick(node)">{{ node.title }}</div>
              <div>
                <span nz-icon (click)="openCreateChild(node)" nzType="plus-circle" nzTheme="twotone"></span>
                <nz-divider nzType="vertical"></nz-divider>
                <span nz-popconfirm nzPopconfirmTitle="Bạn có muốn xóa danh mục này?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteItem(node)" class="!text-red-500 cursor-pointer" nz-icon nzType="delete"
                  nzTheme="outline"></span>
              </div>
            </div>
          </ng-template>
          <ng-template #multiExpandedIconTpl let-node let-origin="origin">
            <span *ngIf="node.children.length > 0" nz-icon [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
              nzTheme="outline" class="ant-tree-switcher-line-icon icon-tree"></span>
          </ng-template>
        </nz-tree>

      </nz-tab>
      <nz-tab nzTitle="KIẾN NGHỊ CÒN TỒN ĐỌNG">
        <form nz-form [nzLayout]="'inline'" [formGroup]="opinionPendingForm">
          <nz-form-item>
            <nz-form-label>Năm</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select nzShowSearch nzAllowClear placeholder="Chọn năm" formControlName="timeYear"
                style="width: 6rem">
                <nz-option cdkScrollable *ngFor="let item of timeyear" [nzLabel]="item.timeyear"
                  [nzValue]="item.timeyear">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Đợt</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select nzShowSearch nzAllowClear placeholder="Chọn đợt" formControlName="auditPeriod"
                style="width: 12rem">
                <nz-option cdkScrollable *ngFor="let item of auditPeriod" [nzLabel]="item.auditPeriod"
                  [nzValue]="item.auditPeriod">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <button nz-button nzType="primary" (click)="viewPendingOpinions()">
            Xem kiến nghị
          </button>
        </form>

        <div nz-row>
          <div nz-col nzSpan="11" style=" border: solid 1px #eeeeee;  margin: 20px;
                padding: 12px;">
            <ng-container>
              <h4>
                <span nz-icon nzType="info-circle" nzTheme="outline" style="margin-right: 12px"></span>DANH SÁCH CÁC
                KIẾN NGHỊ CHƯA HOÀN THÀNH
              </h4>
              <nz-tree #treeCom class="!pl-[10px] overflow-auto" [nzData]="opinionUnfinishedNodes" nzBlockNode
                (nzOnDrop)="nzEvent($event)" [nzSearchValue]="searchValue" (nzExpandChange)="nzEvent($event)"
                (nzSearchValueChange)="nzEvent($event)" (nzOnDrop)="onDrop($event)"
                (nzOnDragStart)="onDragStart($event)" (nzClick)="onNodeClick($event)"
                [nzExpandedIcon]="multiExpandedIconTpl">
                <ng-template #nzTreeTemplate let-node>
                  <div class="!flex justify-between pr-8 note_title">
                    <div class="flex-1">
                      {{ node.title }}
                    </div>
                  </div>
                </ng-template>
                <ng-template #multiExpandedIconTpl let-node let-origin="origin">
                  <span *ngIf="node.children.length > 0" nz-icon
                    [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'" nzTheme="outline"
                    class="ant-tree-switcher-line-icon icon-tree"></span>
                </ng-template>
              </nz-tree>
            </ng-container>
            <!-- <nz-page-header
            nzTitle="DANH SÁCH CÁC KIẾN NGHỊ CHƯA HOÀN THÀNH"
            class="site-page-header"
          >
          </nz-page-header> -->
          </div>
          <div *ngIf="this.showPendingOpinionsTree == true" nz-col nzSpan="11" style=" border: solid 1px #eeeeee;  margin: 20px;
                padding: 12px;">
            <ng-container>
              <h4>
                <span nz-icon nzType="info-circle" nzTheme="outline" style="margin-right: 12px"></span>DANH SÁCH CÁC
                KIẾN NGHỊ CÒN TỒN ĐỌNG
              </h4>
              <div style="margin-right: 10px;text-align: end">
                <button nz-button nzType="primary"><span nz-icon nzType="check" nzTheme="outline"></span> Lưu
                  lại</button>
              </div>
              <div style="margin-bottom: 15px; margin-top: 15px;">
                <label>Đơn vị</label>
                <input nz-input placeholder="Danh sách đơn vị" [(ngModel)]="organizationNamesString"
                  [disabled]="true" />
              </div>


              <!-- <nz-page-header
                nzTitle="DANH SÁCH CÁC KIẾN NGHỊ CÒN TỒN ĐỌNG"
                class="site-page-header"
              >
              </nz-page-header> -->

              <nz-tree #treeCom class="!pl-[10px] overflow-auto" [nzData]="pendingOpinionsNodes" nzBlockNode
                (nzOnDrop)="nzEvent($event)" [nzSearchValue]="searchValue" (nzExpandChange)="nzEvent($event)"
                (nzSearchValueChange)="nzEvent($event)" (nzOnDrop)="onDrop($event)"
                (nzOnDragStart)="onDragStart($event)" [nzExpandedIcon]="multiExpandedIconTpl">
                <ng-template #nzTreeTemplate let-node>
                  <div class="!flex justify-between pr-8 note_title">
                    <nz-tree-node-checkbox [nzDisabled]="node.disabled"
                      [nzChecked]="node.checked"></nz-tree-node-checkbox>
                    <div class="flex-1">
                      {{ node.title }}
                    </div>
                  </div>
                </ng-template>
                <ng-template #multiExpandedIconTpl let-node let-origin="origin">
                  <span *ngIf="node.children.length > 0" nz-icon
                    [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'" nzTheme="outline"
                    class="ant-tree-switcher-line-icon icon-tree"></span>
                </ng-template>
              </nz-tree>
            </ng-container>
          </div>

        </div>


      </nz-tab>
    </nz-tabset>
  </div>
</div>
<!--Create Update-->
<nz-drawer nzWidth="40%" [nzMask]="!edit" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? 'Chỉnh sửa' : 'Tạo mới'" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <app-input-clear placeholder="Nhập mã danh mục cha" [required]="true" label="Danh mục cha"
        [control]="$any(validateForm).controls['pId']" [disabled]="true">
      </app-input-clear>
      <app-input-clear placeholder="Nhập mã danh mục kiến nghị" [required]="true" label="Mã danh mục kiến nghị"
        [control]="$any(validateForm).controls['id']" [disabled]="edit ? true : false">
      </app-input-clear>
      <app-input-clear [textArea]="true" placeholder="Nhập nội dung danh mục kiến nghị" [required]="true"
        label="Nội dung danh mục kiến nghị" [control]="$any(validateForm).controls['name']"></app-input-clear>
      <nz-form-item>
        <nz-form-label>Người phụ trách</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn Người phụ trách" formControlName="account"
            [nzSize]="'large'">
            <nz-option cdkScrollable *ngFor="let item of filteredAccountList" [nzLabel]="item.fullName"
              [nzValue]="item.userName">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-container>
      <button style="margin: 6px;" nz-button class="!flex !items-center" [nzType]="'default'" (click)="showModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Chọn đơn vị
      </button>
      <div class="overflow-auto flex-grow">
        <nz-table nzTableLayout="fixed" #headerTable [nzData]="getTableData()">
          <thead>
            <tr>
              <th [nzSortFn]="true">Đơn vị</th>
              <th [nzSortFn]="true" nzAlign="center">Tồn đọng</th>
              <th nzAlign="center">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of headerTable.data">
              <td>
                {{ data.name }}
              </td>
              <td [(nzChecked)]="data.isPending"></td>
              <td nzAlign="center">
                <button nz-button nzType="link" (click)="edit ? removeUnit(data) : removeCreateUnit(data)">
                  <span nz-icon nzType="minus-circle" nzTheme="outline" [ngClass]="'!text-red-500'"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </ng-container>
  </ng-container>
</nz-drawer>
<nz-modal [(nzVisible)]="isVisible" nzTitle="CHỌN ĐƠN VỊ" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="20" style="margin-left:12px;">
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="Search" [(ngModel)]="valueOrg"
            (ngModelChange)="searchOrgValue(valueOrg)" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div nz-col nzSpan="2">
        <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </div>
    </div>

    <nz-table #allUnitsTable [nzData]="edit ? filteredUnits : filteredOrganize">
      <thead>
        <tr>
          <th>Đơn vị</th>
          <th nzAlign="center">Chọn đơn vị</th>
        </tr>
      </thead>
      <tbody *ngIf="edit">
        <tr *ngFor="let unit of allUnitsTable.data">
          <td>{{ unit.name }}</td>
          <td nzAlign="center">
            <label nz-checkbox [(ngModel)]="unit.isChecked" (ngModelChange)="onUnitCheck(unit)"></label>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!edit">
        <tr *ngFor="let unit of allUnitsTable.data">
          <td>{{ unit.name }}</td>
          <td nzAlign="center">
            <label nz-checkbox [(ngModel)]="unit.isChecked" (ngModelChange)="onCreateUnitCheck(unit)"></label>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
<nz-modal [(nzVisible)]="isUploadModalVisible" nzTitle="Upload Excel File" (nzOnCancel)="handleUploadCancel()"
  (nzOnOk)="handleUploadOk()" [nzOkLoading]="isUploading">
  <ng-container *nzModalContent>
    <nz-upload nzType="drag" [nzMultiple]="false" [nzAction]="this.baseUrl + '/ModuleAttachment/Upload'"
      [nzBeforeUpload]="beforeUpload" [nzCustomRequest]="customRequest" (nzChange)="handleFileChange($event)"
      [nzFileList]="fileList" nzAccept=".xlsx,.xls">
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Thêm file upload</p>
    </nz-upload>
  </ng-container>
</nz-modal>
<ng-template #extra>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" class="!flex !items-center" (click)="submitForm()">
      <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
    </button>
    <button *nzSpaceItem nz-button nzType="primary" class="!flex !items-center" nzDanger (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>