<div class="container-list">
    <div class="site-page-header-ghost-wrapper">
        <nz-page-header nzTitle="CẤU HÌNH SMS" class="site-page-header">
            <nz-page-header-extra>
                <nz-space [nzWrap]="true" class="gap-[5px]">
                    <button (click)="updateSMS()" class="!flex !items-center" nzType="primary" nz-button>
                        <span nz-icon nzType="plus-circle"></span> Cập nhật
                    </button>
                </nz-space>
            </nz-page-header-extra>
        </nz-page-header>
    </div>
    <div class="overflow-auto flex-grow">
        <p>Các tham số: </p>
        <nz-tag nzColor="processing">[KHACH_HANG]</nz-tag>
        <nz-tag nzColor="processing">[THOI_GIAN]</nz-tag>
        <nz-tag nzColor="processing">[TRANG_THAI]</nz-tag>
        <nz-tag nzColor="processing">[LENH_XUAT]</nz-tag>
    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
                <nz-divider nzOrientation="left" nzText="SMS CỔNG VÀO"></nz-divider>
                <textarea rows="4" nz-input [(ngModel)]="data.smsIn"></textarea>
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="12">
            <div class="inner-box">
                <nz-divider nzOrientation="left" nzText="SMS CỔNG RA"></nz-divider>
                <textarea rows="4" nz-input [(ngModel)]="data.smsOut"></textarea>
            </div>
        </div>
    </div>
    </div>
</div>