<div class="container-list" [appPermission]="PERIODTIME_RIGHTS.LIST">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header
      nzBackIcon
      nzTitle="Năm kế hoạch"
      nzSubtitle="Danh sách năm kế hoạch"
      class="site-page-header"
    >
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <nz-space>
            <app-input-clear
              placeholder="Tìm kiếm"
              (enterEvent)="search()"
              [(value)]="filter.keyWord"
            ></app-input-clear>
            <button
              (click)="search()"
              class="flex !items-center !border-l-0 gray-btn"
              nzType="default"
              nz-button
              nzType="default"
            >
              <span nz-icon nzType="search"></span>
            </button>
            <button
              (click)="reset()"
              class="flex !items-center !border-l-0 gray-btn"
              nzType="default"
              nz-button
              nzType="default"
            >
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-space>
          <button
            (click)="openCreate()"
            class="!flex !items-center"
            nzType="primary"
            nz-button
            [appPermission]="PERIODTIME_RIGHTS.ADD"
          >
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table
      [nzScroll]="{ x: 'max-content' }"
      nzTableLayout="fixed"
      [nzShowPagination]="false"
      [nzFrontPagination]="false"
      #headerTable
      [nzData]="paginationResult.data"
    >
      <thead>
        <tr>
          <th nzWidth="30px">STT</th>
          <th
            [nzSortFn]="true"
            (nzSortOrderChange)="onSortChange('timeyear', $event)"
            nzWidth="150px"
          >
            Năm kế hoạch
          </th>
          <th
            [nzSortFn]="true"
            (nzSortOrderChange)="onSortChange('isActive', $event)"
            nzWidth="700px"
            nzAlign="center"
          >
            Trạng thái
          </th>
          <th nzAlign="center" [appPermission]="PERIODTIME_RIGHTS.DELETE">
            Hành động
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of headerTable.data; let i = index"
          (dblclick)="openEdit(data)"
        >
          <td>
            {{
              (paginationResult.currentPage - 1) * paginationResult.pageSize +
                i +
                1
            }}
          </td>
          <td>
            <a (click)="openEdit(data)">{{ data.timeyear }}</a>
          </td>
          <td nzAlign="center">
            <button
              *ngIf="!data.isDefault"
              class="button-7"
              nz-button
              nzType="link"
              (click)="changeDefaultStatus(data.timeyear)"
            >
              Mặc định năm KT
            </button>
            <button
              class="button-7"
              nz-button
              nzType="link"
              (click)="changeIsClosedStatus(data.timeyear)"
            >
              {{ data.isClosed ? 'Mở năm KT' : 'Đóng năm KT' }}
            </button>
          </td>
          <td nzAlign="center">
            <span
              nz-popconfirm
              nzPopconfirmTitle="Bạn muốn xoá năm kế hoạch này ?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteItem(data.timeyear)"
              class="!text-red-500 cursor-pointer"
              nz-icon
              nzType="delete"
              nzTheme="outline"
              [appPermission]="PERIODTIME_RIGHTS.DELETE"
            ></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div
    *ngIf="paginationResult?.data"
    class="flex justify-end p-[10px] border-t border-custom-gray border-solid"
  >
    <nz-pagination
      nzShowSizeChanger
      [nzPageIndex]="filter.currentPage"
      [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize"
      (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
    ></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer
  [nzMask]="!edit"
  nzSize="default"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '"
  [nzExtra]="extra"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <app-input-clear
        placeholder="Nhập năm kế hoạch"
        [required]="true"
        label="Năm kế hoạch"
        [control]="$any(validateForm).controls['timeyear']"
        [required]="true"
        [disabled]="edit ? true : false"
      ></app-input-clear>
      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button
        [appPermission]="PERIODTIME_RIGHTS.EDIT"
        [nzLoading]="loading"
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="!flex !items-center"
        (click)="submitForm()"
      >
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button
        [nzLoading]="loading"
        [appPermission]="PERIODTIME_RIGHTS.ADD"
        *nzSpaceItem
        nz-button
        nzType="primary"
        class="!flex !items-center"
        (click)="submitForm()"
      >
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button
      *nzSpaceItem
      nz-button
      nzType="default"
      nzType="primary"
      class="!flex !items-center"
      nzDanger
      (click)="close()"
    >
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
