<div class="container-list" [appPermission]="LIST_AUDIT_RIGHTS.LIST">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon nzTitle="Đợt kiểm toán" nzSubtitle="Danh sách đợt kiểm toán" class="site-page-header">
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <nz-space>
            <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()"
              [(value)]="filter.keyWord"></app-input-clear>
            <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="search"></span>
            </button>
            <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-space>
          <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button
            [appPermission]="LIST_AUDIT_RIGHTS.ADD">
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
          <button (click)="exportExcel()" class="!flex !items-center" nz-button nzType="primary" nzDanger
            [appPermission]="LIST_AUDIT_RIGHTS.EXCEL">
            <span nz-icon nzType="file-excel"></span>Tải Excel
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="paginationResult.data">
      <thead>
        <tr>
          <th nzWidth="30px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('code', $event)" nzWidth="150px">
            Mã Đợt kiểm toán
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name', $event)">
            Tên đợt kiểm toán
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('timeYear', $event)">
            Năm
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('auditPeriod', $event)">
            Đợt
          </th>
          <th nzWidth="80px" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('reportNumber', $event)">
            Số Báo Cáo
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('reportDate', $event)">
            Ngày Báo Cáo
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('startDate', $event)">
            Thời gian thực hiện
          </th>
          <!-- <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('end_date', $event)">Tên đợt kiểm toán</th>         -->
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('note', $event)">
            Mô tả
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('status', $event)">
            Trạng thái
          </th>
          <th nzWidth="200px" nzAlign="center">Thống Kê Kiến Nghị</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (dblclick)="openEdit(data)">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize +
            i +
            1
            }}
          </td>
          <td>
            <a (click)="openEdit(data)">{{ data.code }}</a>
          </td>
          <td>{{ data.name }}</td>
          <td>{{ data.timeYear }}</td>
          <td>{{ data.auditPeriod }}</td>
          <td>{{ data.reportNumber }}</td>
          <td>{{ data.reportDate | date: 'dd/MM/yyyy' }}</td>
          <td>
            {{ data.startDate | date: 'dd/MM/yyyy' }} -
            {{ data.endDate | date: 'dd/MM/yyyy' }}
          </td>
          <td>{{ data.note }}</td>
          <td>{{ data.status }}</td>
          <td nzAlign="center">
            <button nz-button nzType="primary" (click)="showModalStatistic(data.code)">
              <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
              Xem chi tiết
            </button>

          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
    <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer nzWidth="1000px" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div class="form-grid">
        <app-input-clear placeholder="Nhập mã đợt kiểm toán" [required]="true" label="Mã đợt kiểm toán"
          [control]="$any(validateForm).controls['code']" [required]="true"
          [disabled]="edit ? true : false"></app-input-clear>

        <app-input-clear placeholder="Nhập tên đợt kiểm toán" [required]="true" label="Tên đợt kiểm toán"
          [control]="$any(validateForm).controls['name']"></app-input-clear>

        <nz-form-item>
          <nz-form-label>Năm kiểm toán</nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select nzWidth="100%" nzShowSearch nzAllowClear placeholder="Chọn năm kiểm toán"
              formControlName="timeYear" (ngModelChange)="onYearChange()">
              <nz-option cdkScrollable *ngFor="let item of availableYears" [nzLabel]="item.timeyear"
                [nzValue]="item.timeyear">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Đợt kiểm toán</nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select nzWidth="100%" nzShowSearch nzAllowClear placeholder="Chọn đợt kiểm toán"
              formControlName="auditPeriod">
              <nz-option cdkScrollable *ngFor="let item of availablePeriods" [nzLabel]="item.auditPeriod"
                [nzValue]="item.auditPeriod">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Ngày báo cáo</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn ngày báo cáo">
            <nz-date-picker style="width: 100%" formControlName="reportDate"
              nzPlaceHolder="Chọn ngày báo cáo"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <app-input-clear placeholder="Số báo cáo" [required]="true" label="Số báo cáo"
          [control]="$any(validateForm).controls['reportNumber']"></app-input-clear>

        <app-input-clear placeholder="Trạng thái" [disabled]="true" [required]="true" label="Trạng thái"
          [control]="$any(validateForm).controls['status']"></app-input-clear>

        <div class="date-range">
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Từ ngày</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn ngày bắt đầu">
              <nz-date-picker style="width: 100%" formControlName="startDate"
                nzPlaceHolder="Chọn ngày bắt đầu"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Đến ngày</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn ngày kết thúc">
              <nz-date-picker style="width: 100%" formControlName="endDate"
                nzPlaceHolder="Chọn ngày kết thúc"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <app-input-clear [textArea]="true" class="full-width" placeholder="Mô tả" label="Mô tả"
          [control]="$any(validateForm).controls['note']"></app-input-clear>
      </div>
      <nz-form-item>
        <nz-form-label>Chọn người phê duyệt</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzWidth="100%" nzShowSearch nzAllowClear placeholder="Chọn người phê duyệt"
            formControlName="approver">
            <nz-option cdkScrollable *ngFor="let item of listUser" [nzLabel]="item.userName" [nzValue]="item.userName">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Chọn cây kiến nghị</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzWidth="100%" nzShowSearch nzAllowClear placeholder="Chọn cây kiến nghị"
            formControlName="opinionCode">
            <nz-option cdkScrollable *ngFor="let item of opinionList" [nzLabel]="item.code +' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-upload nzType="drag" [nzMultiple]="true" [nzAction]="this.baseUrl + '/ModuleAttachment/Upload'"
            [nzCustomRequest]="customRequest" (nzChange)="handleChange($event)">
            <p class="ant-upload-drag-icon">
              <span nz-icon nzType="inbox"></span>
            </p>
            <p class="ant-upload-text">Thêm file đính kèm</p>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit" [appPermission]="LIST_AUDIT_RIGHTS.EXCEL">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
        (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
<nz-modal [(nzVisible)]="this.showStatistic" nzTitle="CHI TIẾT THỐNG KÊ KIẾN NGHỊ" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="20" style="margin-left:12px;">
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="onSearch()" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
      <div nz-col nzSpan="2">
        <button (click)="resetSearch()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
          nzType="default">
          <span nz-icon nzType="redo"></span>
        </button>
      </div>
    </div>
    <nz-table #basicTable [nzData]="opinionStatistic" [nzTotal]="opinionStatistic.length" [nzPageIndex]="1"
      [nzPageSize]="5">
      <thead>
        <tr>
          <th>STT</th>
          <th>Đơn vị</th>
          <th>Kiến nghị</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of this.opinionStatistic; let i = index">
          <td>{{i+ 1}}</td>
          <td>{{getOrgName(data.orgCode)}}</td>
          <td>{{data.opinion}}</td>
          <td>{{data.status}}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>