<div class="container-list" [appPermission]="GIA_GIAO_TAP_DOAN_RIGHTS.LIST">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon nzTitle="Giá giao tập đoàn" nzSubtitle="Danh sách giá giao tập đoàn" class="site-page-header">
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <nz-space>
            <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()"
              [(value)]="filter.keyWord"></app-input-clear>
            <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="search"></span>
            </button>
            <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-space>
          <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button
            [appPermission]="GIA_GIAO_TAP_DOAN_RIGHTS.ADD">
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
          <!-- <button
            (click)="exportExcel()"
            class="!flex !items-center"
            nz-button
            nzType="primary"
            [appPermission]="LOCAL_RIGHTS.EXCEL"
            nzDanger
          >
            <span nz-icon nzType="file-excel"></span>Tải Excel
          </button> -->
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="paginationResult.data">
      <thead>
        <tr>
          <th nzWidth="30px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('code', $event)" >
            Mã
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('goodsCode', $event)">
            Mặt hàng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('customerCode', $event)">
            Khách hàng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('oldPrice', $event)">
            Giá cũ
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('newPrice', $event)">
            Giá mới
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('formDate', $event)" nzAlign="center">
            Từ ngày
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('toDate', $event)" nzAlign="center">
            Đến ngày
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">
            Trạng thái
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (dblclick)="openEdit(data)">
          <td>
            {{ (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1 }}
          </td>
          <td>
            <a (click)="openEdit(data)">{{ data.code }}</a>
          </td>
          <td>
            <span *ngFor="let item of goodsResult" >
              <span *ngIf="item.code == data.goodsCode">{{ item.code + ' - ' + item.name }}</span>
            </span>
          </td>
          <td>
            <span *ngFor="let item of customerResult" >
              <span *ngIf="item.code == data.customerCode">{{ item.name }}</span>
            </span>
          </td>
          <td>{{ data.oldPrice }}</td>
          <td>{{ data.newPrice }}</td>
          <td>{{ data.fromDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>{{ data.toDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td nzAlign="center">
            <span [ngClass]="data?.isActive ? '!text-green-500' : '!text-red-500'" nz-icon nzType="check-circle"
              nzTheme="outline"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
    <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer nzWidth="40%" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <app-input-clear placeholder="Nhập mã " [required]="true" label="Mã "
        [control]="$any(validateForm).controls['code']" [required]="true"
        [disabled]="edit ? true : false"></app-input-clear>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Mặt hàng</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear formControlName="goodsCode">
            <nz-option cdkScrollable *ngFor="let item of goodsResult" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Khách hàng</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear formControlName="customerCode">
            <nz-option cdkScrollable *ngFor="let item of customerResult" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <div nz-col style=" display: flex;">
        <nz-form-item style="padding-right: 16px;">
          <nz-form-label [nzRequired]="true">Từ ngày</nz-form-label>
          <nz-form-control nzErrorTip="Không đươc để trống">
            <nz-date-picker style="width: 100%" formControlName="fromDate" ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Đến ngày</nz-form-label>
          <nz-form-control nzErrorTip="Không đươc để trống">
            <nz-date-picker style="width: 100%" formControlName="toDate"
              nzPlaceHolder="Đến ngày"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <app-input-clear placeholder="Giá cũ" [required]="true" label="Giá cũ"
        [control]="$any(validateForm).controls['oldPrice']"></app-input-clear>

      <app-input-clear placeholder="Giá mới" [required]="true" label="Giá mới"
        [control]="$any(validateForm).controls['newPrice']"></app-input-clear>

      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" [appPermission]="GIA_GIAO_TAP_DOAN_RIGHTS.EDIT" *nzSpaceItem nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem [appPermission]="GIA_GIAO_TAP_DOAN_RIGHTS.ADD" nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
