<div class="container-list" [appPermission]="CUSTOMER_RIGHTS.LIST">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon nzTitle="Khách hàng" nzSubtitle="Danh sách khách hàng" class="site-page-header">
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <nz-space>
            <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()"
              [(value)]="filter.keyWord"></app-input-clear>
            <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="search"></span>
            </button>
            <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-space>
          <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button
            [appPermission]="CUSTOMER_RIGHTS.ADD">
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
          <!-- <button
            (click)="exportExcel()"
            class="!flex !items-center"
            nz-button
            nzType="primary"
            [appPermission]="LOCAL_RIGHTS.EXCEL"
            nzDanger
          >
            <span nz-icon nzType="file-excel"></span>Tải Excel
          </button> -->
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="paginationResult.data">
      <thead>
        <tr>
          <th nzWidth="15px">STT</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('name', $event)">Khách hàng</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('phone', $event)">Số điện thoại</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('email', $event)">Email</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('address', $event)">Địa chỉ</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('paymentTerm', $event)">Hạn thanh toán</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('localCode', $event)" nzAlign="center">Vùng</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('marketCode', $event)" nzAlign="center">Thị trường
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('gap', $event)">Cự ly BQ <br> (Km)</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('cuocVcBq', $event)">Cước vận <br> chuyển BQ </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('mgglhXang', $event)">Mức giảm <br> linh hoạt xăng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('mgglhDau', $event)">Mức giảm <br> linh hoạt dầu</th>

          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('salesMethodCode', $event)" nzAlign="center">Phương
            thức bán</th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('customerTypeCode', $event)" nzAlign="center">Kiểu
            khách hàng</th>

          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('bankLoanInterest', $event)">Lãi vay <br> ngân hàng
          </th>
          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('buyInfo', $event)">Thông tin mua hàng</th>

          <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (dblclick)="openEdit(data)">
          <td> {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1
            }} </td>

          <td>
            <a (click)="openEdit(data)">{{ data.name }}</a>
          </td>
          <td>{{ data.phone }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.paymentTerm }}</td>
          <td>
            <span *ngFor="let item of localResult">
              <span *ngIf="item.code == data.localCode">{{ item.code + ' - ' + item.name }}</span>
            </span>
          </td>
          <td>
            <span *ngFor="let item of marketList">
              <span *ngIf="item.code == data.marketCode">{{ item.name }}</span>
            </span>
          </td>
          <td>{{ data.gap }}</td>
          <td>{{ data.cuocVcBq }}</td>
          <td>{{ data.mgglhXang }}</td>
          <td>{{ data.mgglhDau }}</td>

          <td>
            <span *ngFor="let item of salesMethodResult">
              <span *ngIf="item.code == data.salesMethodCode">{{ item.name }}</span>
            </span>
          </td>
          <td style="padding: 5px">
            <span *ngFor="let item of customerTypeList">
              <span *ngIf="item.code == data.customerTypeCode">{{ item.name }}</span>
            </span>
          </td>
          <td>{{ data.bankLoanInterest }}</td>
          <td>{{ data.buyInfo }}</td>


          <td>
            <span [ngClass]="data?.isActive ? '!text-green-500' : '!text-red-500'" nz-icon nzType="check-circle"
              nzTheme="outline"></span>
          </td>

        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
    <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer nzWidth="60%" [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitFormCustomer()">
<!--
        <nz-form-item nz-col nzSpan="11">
          <nz-form-label>Vùng</nz-form-label>
          <nz-form-control>
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn Vùng" formControlName="name"
            (ngModelChange)="openEdit($event)">
              <nz-option cdkScrollable *ngFor="let item of customerList" [nzLabel]="item.name"
                [nzValue]="item" (click)="openEdit(item)">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>zzz -->
      <div nz-row nzJustify="space-evenly">


        <app-input-clear nzWidth="100%" nz-col nzSpan="13" placeholder="Nhập khách hàng " [required]="true"
          label="Tên khách hàng " [control]="$any(validateForm).controls['name']"></app-input-clear>

        <app-input-clear nz-col nzSpan="5" placeholder="Nhập Cự ly" label="Cự ly BQ"
          [control]="$any(validateForm).controls['gap']"></app-input-clear>

        <app-input-clear nz-col nzSpan="5" placeholder="Nhập cước VC BQ" label="Cước VC bình quân"
          [control]="$any(validateForm).controls['cuocVcBq']"></app-input-clear>
      </div>

      <div nz-row nzJustify="space-evenly">
        <app-input-clear nz-col nzSpan="11" placeholder="098... " label="Số điện thoại "
          [control]="$any(validateForm).controls['phone']"></app-input-clear>

        <app-input-clear nz-col nzSpan="12" placeholder="email123@gmail.com " label="Email "
          [control]="$any(validateForm).controls['email']"></app-input-clear>

      </div>
      <div nz-row nzJustify="space-evenly">
        <app-input-clear nz-col nzSpan="17" placeholder="Quận / Huyện / Thành Phố" label="Địa chỉ "
          [control]="$any(validateForm).controls['address']"></app-input-clear>

        <app-input-clear nz-col nzSpan="6" placeholder="Hạn thanh toán" label="Hạn thanh toán "
          [control]="$any(validateForm).controls['paymentTerm']"></app-input-clear>
      </div>
      <div nz-row nzJustify="space-evenly">
        <nz-form-item nz-col nzSpan="11">
          <nz-form-label>Vùng</nz-form-label>
          <nz-form-control>
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn Vùng" formControlName="localCode"
              (ngModelChange)="searchMarket()">
              <nz-option cdkScrollable *ngFor="let item of localResult" [nzLabel]="item.code + ' - ' + item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-col nzSpan="12">
          <nz-form-label>Thị Trường</nz-form-label>
          <nz-form-control>
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn thị trường" formControlName="marketCode">
              <nz-option cdkScrollable *ngFor="let item of marketResult" [nzLabel]="item.code + ' - ' + item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row nzJustify="space-evenly">
        <app-input-clear nz-col nzSpan="11" placeholder="Nhập mức giảm dầu" label="Mức giảm giá linh hoạt xăng "
          [control]="$any(validateForm).controls['mgglhXang']"></app-input-clear>

        <app-input-clear nz-col nzSpan="12" placeholder="Nhập mức giảm xăng" label="Mức giảm giá linh hoạt dầu"
          [control]="$any(validateForm).controls['mgglhDau']"></app-input-clear>
      </div>

      <div nz-row nzWidth="100%" nzJustify="space-evenly">
        <nz-form-item nz-col nzSpan="10">
          <nz-form-label>Phương thức bán</nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn Phương thức bán" formControlName="salesMethodCode">
              <nz-option cdkScrollable *ngFor="let item of salesMethodResult" [nzLabel]="item.code + ' - ' + item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item nz-col nzSpan="7">
          <nz-form-label>Kiểu khách hàng</nz-form-label>
          <nz-form-control>
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn kiểu khách hàng" formControlName="customerTypeCode">
              <nz-option cdkScrollable *ngFor="let item of customerTypeList" [nzLabel]="item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <app-input-clear nz-col nzSpan="6" placeholder="Nhập lãi vay" label="Lãi vay ngân hàng"
          [control]="$any(validateForm).controls['bankLoanInterest']"></app-input-clear>
      </div>
      <!-- <div class="" nzWidth="100%"> -->

      <div nzJustify="space-evenly" style="padding: 0 12px;">
        <nz-form-item nzSpan="12">
          <nz-form-label>Thông tin mua hàng</nz-form-label>
          <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 5 }" placeholder="Thông tin mua hàng"
            label="Thông tin mua hàng" formControlName="buyInfo"></textarea>
        </nz-form-item>
      </div>
      <!-- </div> -->

      <nz-form-item style="padding: 0 12px;">
        <nz-form-label>Trạng thái</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" [appPermission]="CUSTOMER_RIGHTS.EDIT" *nzSpaceItem nz-button nzType="primary"
        class="!flex !items-center" (click)="submitFormCustomer()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem [appPermission]="CUSTOMER_RIGHTS.ADD" nz-button nzType="primary"
        class="!flex !items-center" (click)="submitFormCustomer()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
