<div class="container-list">
  <div class="site-page-header-ghost-wrapper">
    <nz-tabset nzSize="large">
      <nz-tab nzTitle="THÔNG TIN">
        <form nz-form nzLayout="vertical" [formGroup]="mgListTableForm">
          <div class="flex justify-end" style="margin-right: 3rem">
            <button [nzLoading]="loading" nz-button nzType="primary" class="!flex !items-center"
              (click)="submitFormUpdate()">
              <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
            </button>
          </div>
          <app-input-clear placeholder="Nhập mã bảng biểu" [required]="true" label="Mã "
            [control]="$any(mgListTableForm).controls['code']" [required]="true"
            [disabled]="edit ? true : false"></app-input-clear>
          <app-input-clear placeholder="Nhập tên bảng biểu" [required]="true" label="Tên "
            [control]="$any(mgListTableForm).controls['name']"></app-input-clear>
          <nz-form-item>
            <nz-form-label>Năm</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select nzShowSearch nzAllowClear placeholder="Chọn năm" formControlName="timeYear">
                <nz-option cdkScrollable *ngFor="let item of timeyear" [nzLabel]="item.timeyear"
                  [nzValue]="item.timeyear">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Đợt</nz-form-label>
            <nz-form-control nzErrorTip="Không được để trống">
              <nz-select nzShowSearch nzAllowClear placeholder="Chọn đợt" formControlName="auditPeriod">
                <nz-option cdkScrollable *ngFor="let item of auditPeriod" [nzLabel]="item.auditPeriod"
                  [nzValue]="item.code">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <app-input-clear placeholder="Nhập ghi chú" [required]="true" label="Ghi chú"
            [control]="$any(mgListTableForm).controls['description']"></app-input-clear>
          <nz-form-item>
            <nz-form-label>Trạng thái</nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="isActive">
                <label nz-radio [nzValue]="true">Kích hoạt</label>
                <label nz-radio [nzValue]="false">Khoá</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-tab>
      <nz-tab nzTitle="DANH SÁCH CHỈ TIÊU">
        <nz-page-header nzBackIcon nzTitle="DANH MỤC CHỈ TIÊU" class="site-page-header">
          <nz-page-header-extra>
            <nz-space [nzWrap]="true" class="gap-[5px]">
              <nz-space class="gap-[5px]">
                <div>
                  <nz-input-group [nzSuffix]="suffixIcon" style="width: auto">
                    <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue"
                      (ngModelChange)="searchTables(searchValue)" />
                  </nz-input-group>
                  <ng-template #suffixIcon>
                    <span nz-icon nzType="search"></span>
                  </ng-template>
                  <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
                    nzType="default">
                    <span nz-icon nzType="redo"></span>
                  </button>
                </div>
                <button (click)="updateOrderTree()" class="!flex !items-center btn_success" nz-button>
                  <span nz-icon nzType="check" nzTheme="outline"></span> Cập
                  nhật thứ tự
                </button>
                <button class="!flex !items-center btn_success" nz-button (click)="downloadTemplate()">
                  <span nz-icon nzType="download" nzTheme="outline"></span>
                  Download mẫu
                </button>
                <button class="!flex !items-center" nz-button nzType="default" (click)="showUploadModal()">
                  <span nz-icon nzType="upload"></span>Upload
                </button>
              </nz-space>
            </nz-space>
          </nz-page-header-extra>
        </nz-page-header>

        <nz-tree #treeCom class="!pl-[10px] overflow-auto" [nzData]="nodes" nzDraggable nzBlockNode
          (nzOnDrop)="nzEvent($event)" [nzSearchValue]="searchValue" (nzExpandChange)="nzEvent($event)"
          (nzSearchValueChange)="nzEvent($event)" (nzOnDrop)="onDrop($event)" (nzOnDragStart)="onDragStart($event)"
          [nzTreeTemplate]="nzTreeTemplate" [nzExpandedIcon]="multiExpandedIconTpl" [nzExpandAll]="true">
          <ng-template #nzTreeTemplate let-node>
            <div class="!flex justify-between pr-8 note_title">
              <div class="flex-1" (click)="onClick(node)">{{ node.title }}</div>
              <div>
                <span nz-icon (click)="openCreateChild(node)" nzType="plus-circle" nzTheme="twotone"></span>
                <nz-divider nzType="vertical"></nz-divider>
                <span nz-popconfirm nzPopconfirmTitle="Bạn có muốn xóa danh mục này?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteItem(node)" class="!text-red-500 cursor-pointer" nz-icon nzType="delete"
                  nzTheme="outline"></span>
              </div>
            </div>
          </ng-template>
          <ng-template #multiExpandedIconTpl let-node let-origin="origin">
            <span *ngIf="node.children.length > 0" nz-icon [nzType]="node.isExpanded ? 'caret-down' : 'caret-right'"
              nzTheme="outline" class="ant-tree-switcher-line-icon icon-tree"></span>
          </ng-template>
        </nz-tree>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
<!--Create Update-->
<nz-drawer nzWidth="40%" [nzMask]="!edit" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? 'Chỉnh sửa' : 'Tạo mới'" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <app-input-clear placeholder="Nhập mã bảng biểu cha" [required]="true" label="Danh mục bảng biểu cha"
        [control]="$any(validateForm).controls['pId']" [disabled]="true">
      </app-input-clear>
      <app-input-clear placeholder="Nhập mã danh mục bảng biểu" [required]="true" label="Mã danh mục bảng biểu"
        [control]="$any(validateForm).controls['id']" [disabled]="edit ? true : false">
      </app-input-clear>
      <app-input-clear [textArea]="true" placeholder="Nhập nội dung danh mục bảng biểu" [required]="true"
        label="Nội dung danh mục bảng biểu" [control]="$any(validateForm).controls['name']"></app-input-clear>
      <nz-form-item>
        <nz-form-label required>Đơn vị tính</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn đơn vị tính" formControlName="currencyCode">
            <nz-option cdkScrollable *ngFor="let item of currency" [nzLabel]="item.name" [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<nz-modal [(nzVisible)]="isUploadModalVisible" nzTitle="Upload Excel File" (nzOnCancel)="handleUploadCancel()"
  (nzOnOk)="handleUploadOk()" [nzOkLoading]="isUploading">
  <ng-container *nzModalContent>
    <nz-upload nzType="drag" [nzMultiple]="false" [nzAction]="this.baseUrl + '/ModuleAttachment/Upload'"
      [nzBeforeUpload]="beforeUpload" [nzCustomRequest]="customRequest" (nzChange)="handleFileChange($event)"
      [nzFileList]="fileList" nzAccept=".xlsx,.xls">
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Thêm file upload</p>
    </nz-upload>
  </ng-container>
</nz-modal>
<ng-template #extra>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" class="!flex !items-center" (click)="submitForm()">
      <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
    </button>
    <button *nzSpaceItem nz-button nzType="primary" class="!flex !items-center" nzDanger (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>