<div class="container-list" [appPermission]="HE_SO_MAT_HANG_RIGHTS.LIST">
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon nzTitle="Hệ số mặt hàng" nzSubtitle="" class="site-page-header">
      <nz-page-header-extra>
        <nz-space [nzWrap]="true" class="gap-[5px]">
          <nz-space>
            <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()"
              [(value)]="filter.keyWord"></app-input-clear>
            <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="search"></span>
            </button>
            <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
              nzType="default">
              <span nz-icon nzType="redo"></span>
            </button>
          </nz-space>
          <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button
            [appPermission]="HE_SO_MAT_HANG_RIGHTS.ADD">
            <span nz-icon nzType="plus-circle"></span> Thêm mới
          </button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <div class="overflow-auto flex-grow">
    <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
      [nzFrontPagination]="false" #headerTable [nzData]="paginationResult.data">
      <thead>
        <tr>
          <th rowspan="2" >STT</th>
          <th class="align-center" rowspan="2"  [nzSortFn]="true" (nzSortOrderChange)="onSortChange('code', $event)" >
            Mã
          </th>
          <th rowspan="2" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('goodsCode', $event)" >
            Mặt hàng
          </th>
          <th rowspan="2" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('heSoVcf', $event)" nzAlign="center">
            Hệ số VFC BQ mùa miền
          </th>
          <th rowspan="2" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('l15ChuaVatBvmt', $event)" nzAlign="center">
            Thuế BVMT
          </th>
          <th rowspan="2" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('thueBvmt', $event)" nzAlign="center">
            L15 chưa VAT và BVMT
          </th>
          <th rowspan="2" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('thueBvmt', $event)" nzAlign="center">
            L15 chưa VAT và BVMT NBL
          </th>
          <th rowspan="2" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('FromDate', $event)" nzAlign="center">
            Từ ngày
          </th>
          <th rowspan="2" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('ToDate', $event)" nzAlign="center">
            Đến Ngày
          </th>
          <th rowspan="2" [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">
            Trạng thái
          </th>
          <!-- <th
            nzAlign="center"
            [appPermission]="LOCAL_RIGHTS.DELETE"
          >
            Hành động
          </th> -->
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let data of headerTable.data; let i = index" (dblclick)="openEdit(data)">
          <td>
            {{
            (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1
            }}
          </td>
          <td><a (click)="openEdit(data)">{{ data.code }}</a></td>
          <td>
            <span *ngFor="let item of goodsResult" >
              <span *ngIf="item.code == data.goodsCode">{{ item.code + ' - ' + item.name }}</span>
            </span>
          </td>
          <td class="align-right">{{ data.heSoVcf | number }}</td>
          <td class="align-right">{{ data.thueBvmt | number }}</td>
          <td class="align-right">{{ data.l15ChuaVatBvmt | number }}</td>
          <td class="align-right">{{ data.l15ChuaVatBvmtNbl | number }}</td>
          <td class="align-right">{{ data.fromDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td class="align-right">{{ data.toDate | date: 'dd/MM/yyyy HH:mm'}}</td>
          <td nzAlign="center">
            <span [ngClass]="data?.isActive ? '!text-green-500' : '!text-red-500'" nz-icon nzType="check-circle"
              nzTheme="outline"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
    <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
      [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
  </div>
</div>

<!--Create Update-->
<nz-drawer [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
  [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <app-input-clear placeholder="Nhập mã " [required]="true" label="Mã "
        [control]="$any(validateForm).controls['code']" [required]="true"
        [disabled]="true"></app-input-clear>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Mặt hàng</nz-form-label>
        <nz-form-control nzErrorTip="Không được để trống">
          <nz-select nzShowSearch nzAllowClear placeholder="Chọn mặt hàng" formControlName="goodsCode">
            <nz-option cdkScrollable *ngFor="let item of goodsResult" [nzLabel]="item.code + ' - ' + item.name"
              [nzValue]="item.code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <app-input-clear placeholder="Nhập giá hệ số VCF" [required]="true" label="Hệ số VCF0"
      [control]="$any(validateForm).controls['heSoVcf']"></app-input-clear>

      <app-input-clear placeholder="Nhập giá Thuế BVMT" [required]="true" label="Thuế BVMT "
      [control]="$any(validateForm).controls['thueBvmt']"></app-input-clear>

      <app-input-clear placeholder="L15 chưa VAT và BVMT" [required]="true" label="L15 chưa VAT và BVMT"
      [control]="$any(validateForm).controls['l15ChuaVatBvmt']"></app-input-clear>

      <app-input-clear placeholder="L15 chưa VAT và BVMT NBL" [required]="true" label="L15 chưa VAT và BVMT"
      [control]="$any(validateForm).controls['l15ChuaVatBvmt']"></app-input-clear>

      <nz-form-label [nzRequired]="true">Từ ngày -> Đến ngày</nz-form-label>
      <nz-range-picker [nzShowTime]="true" formControlName="date" (ngModelChange)="onChangeDate($event)"></nz-range-picker>

      <!-- <nz-range-picker [nzShowTime]="true" [(ngModel)]="date"
      (ngModelChange)="onChangeDate($event)"></nz-range-picker> -->

      <nz-form-item>
        <nz-form-label>Trạng thái</nz-form-label  >
        <nz-form-control>
          <nz-radio-group formControlName="isActive">
            <label nz-radio [nzValue]="true">Kích hoạt</label>
            <label nz-radio [nzValue]="false">Khoá</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <ng-container *ngIf="edit">
      <button [nzLoading]="loading" [appPermission]="HE_SO_MAT_HANG_RIGHTS.EDIT" *nzSpaceItem nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <ng-container *ngIf="!edit">
      <button [nzLoading]="loading" *nzSpaceItem [appPermission]="HE_SO_MAT_HANG_RIGHTS.ADD" nz-button nzType="primary"
        class="!flex !items-center" (click)="submitForm()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
      </button>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>
