<nz-drawer [nzVisible]="visible" nzTitle="Cập nhật thông tin kế hoạch" (nzOnClose)="closeDrawer()" [nzWidth]="400">
  <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div nz-row [nzGutter]="16"></div>

    <div nz-row [nzGutter]="16" nzJustify="end">
      <div nz-col>
        <button nz-button nzType="default" (click)="closeDrawer()">
          Cancel
        </button>
      </div>
      <div nz-col>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">
          Submit
        </button>
      </div>
    </div>
  </form>
</nz-drawer>

<nz-drawer [nzMask]="false" nzWidth="60%" [nzVisible]="visible" nzPlacement="right" nzTitle="Chỉnh sửa"
  [nzExtra]="extra" (nzOnClose)="closeDrawer()">
  <nz-tabset *nzDrawerContent>
    <nz-tab nzTitle="Thông tin">
      <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <app-input-clear placeholder="Nhập tên nhóm tài khoản" [required]="true" label="Tên nhóm tài khoản"
          [control]="$any(validateForm).controls['name']">
        </app-input-clear>
        <app-input-clear type="textarea" placeholder="Ghi chú" label="Ghi chú"
          [control]="$any(validateForm).controls['notes']">
        </app-input-clear>

        <nz-form-item>
          <nz-form-label>Trạng thái</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="isActive">
              <label nz-radio [nzValue]="true">Kích hoạt</label>
              <label nz-radio [nzValue]="false">Khoá</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-tab>
    <nz-tab nzTitle="Phân quyền">
      <nz-tree #treeCom nzCheckable nzMultiple [nzData]="nodes" [nzShowExpand]="true" [nzCheckStrictly]="true"
        nzBlockNode (nzOnDrop)="nzEvent($event)" [nzSearchValue]="searchValue" (nzSearchValueChange)="nzEvent($event)"
        (nzOnDrop)="onDrop($event)" [nzCheckedKeys]="initialCheckedNodes" (nzCheckBoxChange)="onCheckBoxChange($event)"
        (nzClick)="onClick($event)"></nz-tree>
    </nz-tab>
    <nz-tab nzTitle="Thành viên">
      <nz-transfer [nzTitles]="['Tài khoản chưa gán nhóm', 'Nhóm ' + nameShow]" [nzDataSource]="listAccount"
        [nzShowSearch]="true" [nzShowSelectAll]="false" [nzRenderList]="[renderList, renderList]"
        (nzChange)="change($event)">
        <ng-template #renderList let-items let-direction="direction" let-stat="stat"
          let-onItemSelectAll="onItemSelectAll" let-onItemSelect="onItemSelect">
          <nz-table #t [nzData]="items" nzSize="small">
            <thead>
              <tr>
                <th [nzChecked]="stat.checkAll" [nzIndeterminate]="stat.checkHalf"
                  (nzCheckedChange)="onItemSelectAll($event)"></th>
                <th>Tên tài khoản</th>
                <th>Họ và tên</th>
                <th>Kích hoạt</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of t.data" (click)="onItemSelect(data)">
                <td [nzChecked]="!!data.checked" (nzCheckedChange)="onItemSelect(data)"></td>
                <td>{{ data.userName }}</td>
                <td>{{ data.fullName }}</td>
                <td nzAlign="center">
                  <span [ngClass]="
                      data?.isActive ? '!text-green-500' : '!text-red-500'
                    " nz-icon nzType="check-circle" nzTheme="outline"></span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </ng-template>
      </nz-transfer>
    </nz-tab>
  </nz-tabset>
</nz-drawer>
<ng-template #extra>
  <nz-space>
    <button [nzLoading]="loading" *nzSpaceItem nz-button nzType="primary" class="!flex !items-center"
      (click)="submitForm()">
      <!-- [appPermission]="ACCOUNT_GROUP_RIGHTS.EDIT" -->
      <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
    </button>
    <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
      (click)="close()">
      <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
    </button>
  </nz-space>
</ng-template>