<div class="container-list" [appPermission]="MARKET_COMPETITOR_RIGHTS.LIST">
    <div class="site-page-header-ghost-wrapper">
      <nz-page-header nzBackIcon nzTitle="Thị trường" nzSubtitle="Danh sách Thị Trường" class="site-page-header">
        <nz-page-header-extra>
          <nz-space [nzWrap]="true" class="gap-[5px]">
            <nz-space>
              <app-input-clear placeholder="Tìm kiếm" (enterEvent)="search()"
                [(value)]="filter.keyWord"></app-input-clear>
              <button (click)="search()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
                nzType="default">
                <span nz-icon nzType="search"></span>
              </button>
              <button (click)="reset()" class="flex !items-center !border-l-0 gray-btn" nzType="default" nz-button
                nzType="default">
                <span nz-icon nzType="redo"></span>
              </button>
            </nz-space>
            <button (click)="openCreate()" class="!flex !items-center" nzType="primary" nz-button
              [appPermission]="MARKET_COMPETITOR_RIGHTS.ADD">
              <span nz-icon nzType="plus-circle"></span> Thêm mới
            </button>
          </nz-space>
        </nz-page-header-extra>
      </nz-page-header>
    </div>
    <div class="overflow-auto flex-grow">
      <nz-table [nzScroll]="{ x: 'max-content' }" nzTableLayout="fixed" [nzShowPagination]="false"
        [nzFrontPagination]="false" #headerTable [nzData]="paginationResult.data">
        <thead>
          <tr>
            <th nzWidth="30px">STT</th>

            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('marketCode', $event)">
              Thị trường
            </th>
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('competitorCode', $event)">
              Đối thủ
            </th>
            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('gap', $event)">
              Cự ly BQ (Km)
            </th>

            <th [nzSortFn]="true" (nzSortOrderChange)="onSortChange('isActive', $event)" nzAlign="center">
              Trạng thái
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of headerTable.data; let i = index" (dblclick)="openEdit(data)">
            <td>
              {{
              (paginationResult.currentPage - 1) * paginationResult.pageSize + i + 1
              }}
            </td>
            <td class="align-left">
              <span *ngFor="let item of marketResult" >
                <span *ngIf="item.code == data.marketCode">{{ item.name }}</span>
              </span>
            </td>
            <td class="align-left">
              <span *ngFor="let item of competitorResult" >
                <span *ngIf="item.code == data.competitorCode">{{ item.name }}</span>
              </span>
            </td>
            <td class="align-right">{{ data.gap }}</td>

            <td nzAlign="center">
              <span [ngClass]="data?.isActive ? '!text-green-500' : '!text-red-500'" nz-icon nzType="check-circle"
                nzTheme="outline"></span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngIf="paginationResult?.data" class="flex justify-end p-[10px] border-t border-custom-gray border-solid">
      <nz-pagination nzShowSizeChanger [nzPageIndex]="filter.currentPage" [nzTotal]="paginationResult.totalRecord"
        [nzPageSize]="filter.pageSize" (nzPageIndexChange)="pageIndexChange($event)"
        (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </div>

  <!--Create Update-->
  <nz-drawer [nzMask]="!edit" nzSize="default" [nzVisible]="visible" nzPlacement="right"
    [nzTitle]="edit ? ' Chỉnh sửa  ' : ' Tạo mới  '" [nzExtra]="extra" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
      <form nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Thị trường</nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn thị trường" formControlName="marketCode">
              <nz-option cdkScrollable *ngFor="let item of marketResult" [nzLabel]="item.code + ' - ' + item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Đối thủ</nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống">
            <nz-select nzShowSearch nzAllowClear placeholder="Chọn vùng" formControlName="competitorCode">
              <nz-option cdkScrollable *ngFor="let item of competitorResult" [nzLabel]="item.code + ' - ' + item.name"
                [nzValue]="item.code">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <app-input-clear placeholder="Nhập cự ly BQ" [required]="true" label="Cự ly BQ (Km)"
        [control]="$any(validateForm).controls['gap']"></app-input-clear>

        <nz-form-item>
          <nz-form-label>Trạng thái</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="isActive">
              <label nz-radio [nzValue]="true">Kích hoạt</label>
              <label nz-radio [nzValue]="false">Khoá</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-drawer>
  <ng-template #extra>
    <nz-space>
      <ng-container *ngIf="edit">
        <button [nzLoading]="loading" [appPermission]="MARKET_COMPETITOR_RIGHTS.EDIT" *nzSpaceItem nz-button nzType="primary"
          class="!flex !items-center" (click)="submitForm()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
        </button>
      </ng-container>
      <ng-container *ngIf="!edit">
        <button [nzLoading]="loading" *nzSpaceItem [appPermission]="MARKET_COMPETITOR_RIGHTS.ADD" nz-button nzType="primary"
          class="!flex !items-center" (click)="submitForm()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Lưu
        </button>
      </ng-container>
      <button *nzSpaceItem nz-button nzType="default" nzType="primary" class="!flex !items-center" nzDanger
        (click)="close()">
        <span nz-icon nzType="close-circle" nzTheme="outline"></span>Huỷ
      </button>
    </nz-space>
  </ng-template>
